<div class="section--bg-prim-blue">
  <div class="service-category section__inner">
    <hgroup class="service-category__title-group">
      <h1 class="service-category__title">Expert agents. Supercharged by tech.</h1>
      <p class="p--body service-category__title-text">Our agents bring the human
        element to every connection—and we amp up their efforts with unique
        recruiting tools and technologies.
      </p>
    </hgroup>

    <div class="content-block--service-category">
      <div class="content-block__upper">
        <img
          class="content-block__image"
          src="{{path "/img/service-category-persona.png"}}"
        />
      </div><!-- .content-block__upper -->

      <div class="content-block__lower">
        <h2 class="content-block__title">Persona</h2>

        <p class="content-block__text">Define your ideal UX hire with our
          easy-to-use tool. It’s all you need to assess your UX need.</p>
        <a href="#" class="button--medium-primary content-block__button">Try it
          out</a>
      </div><!-- .content-block__lower -->
    </div><!-- .content-block--featured -->

    <div class="content-block--service-category">
      <div class="content-block__upper">
        <img
          class="content-block__image"
          src="{{path "/img/service-category-book.png"}}"
        />
      </div><!-- .content-block__upper -->

      <div class="content-block__lower">
        <h2 class="content-block__title">Book</h2>

        <p class="content-block__text">Pinpoint exactly the right creative for
          your needs. Our portfolio search engine makes it easy.</p>
        <a href="#" class="button--medium-primary content-block__button">Try it
          out</a>
      </div><!-- .content-block__lower -->
    </div><!-- .content-block--featured -->
  </div>
</div>