

<div class="section--bg-prim-blue">

    <div class="post-hero section__inner">
        <h1 class="post-hero__title">If your team isn’t learning,
            they’re falling behind. Fix it.</h1>
            
        <div class="post-hero__author">

            <div class="post-hero__author-info">
                <span class="post-hero__author-info-name">By <a href="#">Meow Murray</a></span>
                <p class="post-hero__author-info-title">President, Community & Customer Engagement</p>
            </div><!-- .post-hero__author-info -->
            
        </div><!-- .post-hero__author -->

        <div class="post-hero__time-social">
            <div class="post-hero__time-social-read-time">
                <time>10 minutes</time>
            </div>
            <div class="post-hero__time-social-links">
                 <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fvitamintalent.com%2Fblog%2Fmeet-our-2021-designing-for-good-winners&amp;title=Meet+Our+2021+Designing+for+Good+Winners%21+via+%40VitaminTalent&amp;summary=Read+Meet+Our+2021+Designing+for+Good+Winners%21+via+%40VitaminTalent+at+https%3A%2F%2Fvitamintalent.com%2Fblog%2Fmeet-our-2021-designing-for-good-winners" title="LinkedIn" target="_blank"
                    class="social-icon__link--linkedin"></a>
                <a href="https://twitter.com/intent/tweet?text=Read+Meet+Our+2021+Designing+for+Good+Winners%21+via+%40VitaminTalent+at+https%3A%2F%2Fvitamintalent.com%2Fblog%2Fmeet-our-2021-designing-for-good-winners" title="Twitter" target="_blank" class="social-icon__link--twitter"></a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fvitamintalent.com%2Fblog%2Fmeet-our-2021-designing-for-good-winners" title="Facebook" target="_blank" class="social-icon__link--facebook"></a>
            </div>
        </div><!-- .post-hero__time-social -->
    </div><!-- .post-hero .section__inner -->

</div><!-- .section--bg-prim-blue -->

<div class="section--bg-white article">
    <div class="section__inner article__body">

        <picture class="article__image-featured">
            <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/460/355">
            <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/1150/646">
            <img src="https://www.fillmurray.com/g/460/355" role="presentation" alt="" />
            <source>
        </picture><!-- .article__image-featured -->
        
        <div class="article__post">
            <p><span class="dropcap">C</span>onsider this scenario: Rebecca is Head of Design at a global
                organization.
                Over the past year, her company has gone through a radical business transformation, forced to seek
                creative
                ways to reach customers and launch services that deliver new revenue streams. It’s hard enough to keep
                up
                with changing business priorities, but she has another problem: She leads a team of 48 people who have
                to
                keep up, too. </p>
            <p>Every day the team is being asked to do things they’ve never done before. Yet they’re all at different
                places
                in their careers and dealing with widely varying personal situations. And they’re looking to Rebecca to
                know
                what to do. To hit her goals, she needs employees who are motivated to learn the new skills they need to
                succeed. In fact, their success actually depends on it.</p>
            <p>This situation is not unique. That’s why the leaders in our InsideOut Design Leader Community gathered to
                figure out how to engage employees in crafting learning plans that match business needs, tap into their
                passions, and ultimately improve job satisfaction and retention.</p>
            <blockquote>
                <div>
                    <span></span>
                </div>
                Comparing an employee’s skills to their prior performance certainly helps them see how things have
                changed
                (or how they haven’t).
                <cite>Product Design Leader <span>New York City</span></cite>
            </blockquote><!-- blockquote -->

            <h2>Show the Gap</h2>
            <p>Start by determining where your team is falling short. When projects miss the mark, what are the most
                common
                skills needed to change those outcomes? Take a look at your goals. What additional expertise is required
                to
                achieve them? Once you have an overall view of the business needs, it’s time to take it to the
                individual
                level.</p>

            <aside>
                <p>Be sure to explicitly define what success looks like–show the “gap” between the
                    skills of today and
                    the
                    desired expertise. Drawing the path between their current role/knowledge and what they need to
                    master to
                    move to the next level not only gets staff engaged in their own development but prevents frustration
                    on
                    both sides if that career step does not materialize as quickly as they had in mind.</p>
            </aside><!-- aside -->

            <p>If you’re struggling to help someone on your team see that the promotion and compensation increase they
                want does not match their current skills, ask more questions. A great question to ask staff was posed by
                a leader in one of our roundtable discussions: “What are your skills today compared to [fill in the
                blank] years ago?”</p>

            <h2>Inspire Growth</h2>
            <p>Tapping into career expectations and personal goals will uncover powerful ways to get staff involved in
                their development. By asking questions, you will find expertise they may have thought wouldn’t fit their
                role–but that you know would add value. Here’s an example:</p>
            <p>Upon discovering that a designer on their team had a passion for illustration (which was not in his job
                description), one InsideOut leader crafted opportunities to hone those skills which led to a companywide
                repository of visual components that saved time and money–and ultimately led to that designer’s
                promotion. Another leader pointed out that learning should be personal. When staff see what’s in it for
                them to acquire new skills and how important those skills are to their success and that of the broader
                organization, they embrace education and are thankful for your investment in them.</p>

            <aside>
                <p>Tying staff interests to real possibilities for growth leads to mutual benefit, so
                    taking the time to
                    have open conversations is critical. Plus, inspired employees go above and beyond, often teaching
                    what they know to others and lifting the overall proficiency of your entire group.</p>
            </aside><!-- aside -->

            <h2>Meet Them Where They Are</h2>
            <p>Now for the really tough part: Every human being is having their own unique life experience, brings a
                unique set of expectations, and requires an individual approach to drawing them into self-motivated
                growth. There’s no one-size-fits-all.</p>

            <p class="article__video">
                <iframe src="//www.youtube.com/embed/G0c0mWO7XgM?rel=0&amp;showinfo=0&amp;color=white&amp;autohide=1"
                    allowfullscreen="" frameborder="0" height="270" width="480"></iframe>
            </p>

            <p>That said, in our InsideOut roundtable, we discussed four basic states in which employees might find
                themselves and how leaders can support the growth of each:</p>
            <picture class="article__image">
                <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/460/355">
                <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/762/505">
                <img src="https://www.fillmurray.com/g/460/355" role="presentation" alt="" />
                <source>
            </picture>
            <p>A resource that came up in our InsideOut roundtables was the concept of letter-shaped employees. Most
                leaders are familiar with the “T-shaped person” idea made famous by IDEO CEO Tim Brown over a decade
                ago, with the lines of that T representing a person’s breadth and depth of knowledge. Since then,
                there’s been much debate on what the shape of the future will be. No matter which shape you feel is
                right for your team, define the specialist and generalist competencies you expect.</p>
            <p class="p--lead-2">The Eager Learner</p>
            <p>New to the role or task, they want to learn everything, realize they have a lot to learn and require
                direction, support, and opportunity.</p>
            <p class="p--lead-2">The Midpoint Learner</p>
            <p>They’ve had some wins and are looking around to see how their career stacks up to their peers. These
                learners may be difficult to retain if they don’t see potential and have a clear growth path.</p>
            <p class="p--lead-2">The Accomplished Learner</p>
            <p>With confidence, these learners want to keep growing but feel they’ve earned the right to work on the
                “good stuff” and/or have an interest in leading others. These learners can also be difficult to retain
                if you can’t offer what they want.</p>
            <p class="p--lead-2">The Transition Learner</p>
            <p>This learner has mastered many skills and, while not checked out, they’re not seeking high-risk
                challenges–yet retaining them and expanding their skills is highly desirable. Encouraging their passions
                and giving them a chance to shine can keep them engaged and motivated to continue to learn.</p>
            <picture class="article__image">
                <source media="(max-width: 799px)" srcset="http://placekitten.com/460/355">
                <source media="(min-width: 800px)" srcset="http://placekitten.com/762/505">
                <img src="http://placekitten.com/460/355" role="presentation" alt="" />
                <source>
            </picture>
            <p>I’d be remiss if I didn’t mention that hiring the right people came up repeatedly as we discussed staff
                development. Figuring out in the interview stage whether or not your interviewee already has a growth
                mindset saves everyone the frustration of pulling or pushing them into required improvements down the
                line.</p>
            <p>Here are a few interview questions to uncover genuine intellectual curiosity and help identify lifelong
                learners who naturally engage in their own development:</p>
            <ul class="article__post-list">
                <li class="article__post-list-item">Tell me about the last time you learned something new.</li>
                <li class="article__post-list-item">What resources do you rely on to stay on top of trends in your
                    field?</li>
                <li class="article__post-list-item">How would your past employers describe your interest in
                    learning, and why?</li>
                <li class="article__post-list-item">Describe the last time you made a mistake and what you learned
                    from it.</li>
                <li class="article__post-list-item">What keeps you motivated to improve your skills?</li>
            </ul><!-- .article__post-list -->
            <p>If you’re a senior design, experience, or operations leader of an in-house team and want to connect to
                others who share your unique challenges, let’s talk. Our InsideOut community hosts virtual roundtables
                to support the learning, growth, and sanity of our members, and I’m honored to get to facilitate those
                discussions.</p>
            <p>How are you engaging staff in their development plans? Please share in the comments. Stay safe out there.
                Let’s keep learning together!</p>
            <p><i>This post originally appeared on Aquent's Off Hours blog.</i></p>

            <ul class="article__post-list--categories">
                <li class="article__post-list-item"><a class="button--small-secondary-flex" href="#">Managing
                        People (21)</a></li>
                <li class="article__post-list-item"><a class="button--small-secondary-flex" href="#">Hiring
                        Creatives (9)</a></li>
                <li class="article__post-list-item"><a class="button--small-secondary-flex" href="#">Communication
                        (4)</a></li>
                <li class="article__post-list-item"><a class="button--small-secondary-flex" href="#">Career
                        Development (18)</a></li>
                <li class="article__post-list-item"><a class="button--small-secondary-flex" href="#">Skill
                        Development (6)</a></li>
                <li class="article__post-list-item"><a class="button--small-secondary-flex" href="#">Recognition
                        (2)</a></li>
            </ul><!-- .article__post-list--categories -->

        </div><!-- .article__post -->
    </div><!-- .section__inner .article -->

    <div class="section--bg-white section__inner blog-author-footer">
        <div class="blog-author-footer-social">
            <div class="blog-author-footer-social-date-time">
                <time datetime="2021-06-02">06.02.2021</time>
            </div><!-- .blog-author-footer-social-date-time -->
            <div class="blog-author-footer-social-media-links">
                 <a href="https://www.linkedin.com/company/aquent" title="LinkedIn" target="_blank"
                    class="social-icon__link--linkedin"></a>
                <a href="https://twitter.com/Vitamin T" title="Twitter" target="_blank" class="social-icon__link--twitter"></a>
                <a href="https://www.facebook.com/aquent/" title="Facebook" target="_blank" class="social-icon__link--facebook"></a>
            </div>
        </div><!-- .blog-author-footer-social -->

        <div class="blog-author-footer-bio">
            <div class="blog-author-footer-bio-desc">
                <span class="blog-author-footer-bio-desc-name">Meow Murray</span>
                <p class="blog-author-footer-bio-desc-title">President, Community & Customer Engagement</p>
                <p class="p--body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat</p>
                <div class="blog-author-footer-bio-desc-links">
                    <p class="blog-author-footer-bio-desc-links-p"><a href="#">Full Bio</a></p>
                </div><!-- .blog-author-footer-bio-desc-links -->
            </div><!-- .blog-author-footer-bio-desc -->

        </div><!-- .blog-author-footer-bio -->

    </div><!-- .section--bg-white .section__inner .blog-author-footer -->
</div><!-- .section--bg-white -->
