

<div class="section--bg-prim-blue">

    <div class="columns--three section__inner">

        <div class="column--left">
            <span class="stat__number">52%</span>
            <span class="stat__detail">Identify as female</span>
        </div>

        <div class="column--center">
            <span class="stat__number">41%</span>
            <span class="stat__detail">Identify as BIPOC</span>
        </div>

        <div class="column--right">
            <span class="stat__number">13%</span>
            <span class="stat__detail">Identify LGBTQIA+</span>
        </div>
    </div>

</div> 
