

<div class="section--bg-white">
    <div class="section__inner">
        <div class="columns--post-hero">
            <h2 class="section-heading">Benefits that have your back.</h2>

            <p>We've got you covered. We're all about making temp and flexible jobs the best they can be &emdash; and making sure everyone has amazing employee benefits. That's why our talent have the same health insurance as our CEO. Our benefits have included major medical coverage for decades. And we're always adding things like universal paid sick leave and retirement plans with a match.</p>
            <p>We want you to feel cared for like one of our own. Because you are.</p>
        </div><!-- .columns--post-hero -->
    </div><!-- .section__inner-->
</div><!-- .section--bg-white -->
