

<div class="section--bg-prim-blue">

  <div class="job-hero section__inner">
    <section class="hero-textonly">
      <div class="hero-textonly__title">
        <h1 class="h1--page-titles headline">Opportunities</h1>
      </div><!-- .hero-textonly__title -->
    </section>
  </div><!-- .job-hero .section__inner -->

</div><!-- .section--bg-prim-blue -->

<form class="filter-bar section--bg-prim-blue">

  <div
    class="filter-bar__content section--bg-sec-blue"
    id="filter-bar__content"
  >
    <div class="filter-bar__combined-menu" id="filter-bar__combined-menu">
      <a class="filter-bar__combined-menu__a" href="#filter-bar__menu">
        <span class="p--body filter-bar__text-label-mobile">Filters &amp; Sort</span>
        <span class="filter-bar__filter-icon"></span>
      </a>
    </div>

    <div class="filter-bar__menu filter-bar__menu--job" id="filter-bar__menu">
      <div class="filter-bar__header-mobile">
        <span class="filter-bar__header-mobile__text">Filters &amp; Sort</span>
        <a
          class="filter-bar__header-mobile__close-icon"
          href="#filter-bar__content"
        ></a>
      </div>
      <span class="p--body-emphasis filter-bar__text-label">Filters:</span>
      <details class="filter-bar__details">
        <summary class="filter-bar__menu-item">
          <span class="p--body filter-bar__filter-label">
            Role (1)
          </span>
          <span class="tertiary-info filter-bar__filter-label-mobile">
            Role (1)
          </span>
        </summary>

        <div class="filter-bar__dropdown section--bg-white">
          <fieldset class="filter-bar__option-list">
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Content &amp;
                    Writing</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Creative &amp;
                    Design</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span
                    class="p--body filter-bar__option-label"
                  >Development</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span
                    class="p--body filter-bar__option-label"
                  >Marketing</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Marketing
                    Technology</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">User Experience</span>
                </div>
              </label>
            </div>
          </fieldset>

          <hr class="filter-bar__divider" />

          <div class="filter-bar__dropdown-buttons">
            <a class="button--medium-primary" href="#">Apply</a>
            <a class="tertiary-info" href="#">Clear all</a>
          </div>
        </div>

      </details>
      <details class="filter-bar__details">
        <summary class="filter-bar__menu-item">
          <span class="p--body filter-bar__filter-label">
            Location (2)
          </span>
          <span class="tertiary-info filter-bar__filter-label-mobile">
            Location (2)
          </span>
        </summary>

        <div class="filter-bar__dropdown section--bg-white">
          <fieldset class="filter-bar__option-list">
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Boston, MA</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Ashville, NC</span>
                </div>
              </label>
            </div>
          </fieldset>

          <hr class="filter-bar__divider" />

          <div class="filter-bar__dropdown-buttons">
            <a class="button--medium-primary" href="#">Apply</a>
            <a class="tertiary-info" href="#">Clear all</a>
          </div>
        </div>
      </details>
      <details class="filter-bar__details">
        <summary class="filter-bar__menu-item">
          <span class="p--body filter-bar__filter-label">
            All Placement Types
          </span>
          <span class="tertiary-info filter-bar__filter-label-mobile">
            All Placement Types
          </span>
        </summary>

        <div class="filter-bar__dropdown section--bg-white">
          <fieldset class="filter-bar__option-list">
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Freelance</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Temp to
                  Perm</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Permanent</span>
                </div>
              </label>
            </div>
          </fieldset>

          <hr class="filter-bar__divider" />

          <div class="filter-bar__dropdown-buttons">
            <a class="button--medium-primary" href="#">Apply</a>
            <a class="tertiary-info" href="#">Clear all</a>
          </div>
        </div>
      </details>
    </div>
    <div class="section--bg-sec-blue filter-bar__dropdown-buttons-mobile">
      <a class="tertiary-info" href="#">Clear all</a>
      <a class="button--medium-primary-flex" href="#">Apply</a>
    </div>
    <div class="filter-bar__search filter-bar__search-job">
      <div class="filter-bar__search-field">
        <input
          class="p--body filter-bar__search-input"
          placeholder="Search keywords"
          type="text"
        />
      </div>
      <div
        class="filter-bar__search-icon"
        data-aria-label-open="Open Search"
        data-aria-label-close="Close Search"
      >
        <div class="filter-bar__search-icon__glass"></div>
        <a
          class="filter-bar__search-icon__a"
          href="#filter-bar__combined-menu"
          id="open-search"
        >
          <span class="hidden">Open Search</span>
        </a>
        <a
          class="filter-bar__search-icon__a"
          href="#filter-bar__content"
          id="close-search"
        >
          <span class="hidden">Close Search</span>
        </a>
      </div>
    </div>
  </div>

</form>

<div class="filter-bar__selected-options">

  <ul class="filter-bar__selected-list">
    <li class="filter-bar__option-item">
      <div class="filter-bar__selected-option">
        <a class="filter-bar__selected-icon" href="#"></a>
        <span class="p--body filter-bar__selected-label">Content &amp; Writing</span>
      </div>
    </li>
    <li class="filter-bar__option-item">
      <div class="filter-bar__selected-option">
        <a class="filter-bar__selected-icon" href="#"></a>
        <span class="p--body filter-bar__selected-label">Creative &amp; Design</span>
      </div>
    </li>
    <li class="filter-bar__option-item">
      <div class="filter-bar__selected-option">
        <a class="filter-bar__selected-icon" href="#"></a>
        <span class="p--body filter-bar__selected-label">Creative &amp; Design</span>
      </div>
    </li>
    <li class="filter-bar__option-item">
      <div class="filter-bar__selected-option">
        <a class="filter-bar__selected-icon" href="#"></a>
        <span class="p--body filter-bar__selected-label">Creative &amp; Design</span>
      </div>
    </li>
    <li class="filter-bar__option-item">
      <div class="filter-bar__selected-option">
        <a class="filter-bar__selected-icon" href="#"></a>
        <span class="p--body filter-bar__selected-label">Creative &amp; Design</span>
      </div>
    </li>
    <li class="filter-bar__option-item"><a
        class="p--body filter-bar__selected-clear"
        href="#"
      >Clear all</a>
    </li>
  </ul>

</div>
<div class="section__inner section--bg-white">

</div><!-- .section--bg-white .section__inner -->
