

<div class="section--bg-prim-blue">

  <div class="section__inner">
    <section class="hero-textonly">
      <div class="hero-textonly__title">
        <h1 class="h1--page-titles headline">Blog</h1>
      </div><!-- .hero-textonly__title -->
    </section>
  </div><!-- .section__inner -->

</div><!-- .section--bg-prim-blue -->

<form class="filter-bar section--bg-prim-blue">

  <div
    class="filter-bar__content section--bg-sec-blue"
    id="filter-bar__content"
  >
    <div class="filter-bar__combined-menu" id="filter-bar__combined-menu">
      <a class="filter-bar__combined-menu__a" href="#filter-bar__menu">
        <span class="p--body filter-bar__text-label-mobile">Filters &amp; Sort</span>
        <span class="filter-bar__filter-icon"></span>
      </a>
    </div>

    <div class="filter-bar__menu filter-bar__menu--blog" id="filter-bar__menu">
      <div class="filter-bar__header-mobile">
        <span class="filter-bar__header-mobile__text">Filters &amp; Sort</span>
        <a
          class="filter-bar__header-mobile__close-icon"
          href="#filter-bar__content"
        ></a>
      </div>
      <details class="filter-bar__details">
        <summary class="filter-bar__menu-item">
          <span class="p--body filter-bar__filter-label">
            Filter (1)
          </span>
          <span class="tertiary-info filter-bar__filter-label-mobile">
            Filter (1)
          </span>
        </summary>

        <div class="filter-bar__dropdown section--bg-white">
          <fieldset class="filter-bar__option-list">
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Career Advice</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span
                    class="p--body filter-bar__option-label"
                  >Compensation</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span
                    class="p--body filter-bar__option-label"
                  >Contingent Workforce</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Design &amp;
                    Experience</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Diversity,
                    Equity, &amp; Inclusion</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Insights &amp; Trends</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Leading Teams</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Marketing &amp; Creative</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Recruiting &amp; Hiring</span>
                </div>
              </label>
            </div>
            <div class="filter-bar__option-item">
              <label class="filter-bar__option-wrapper">
                <input class="filter-bar__option-toggle" type="checkbox" />
                <div class="filter-bar__option">
                  <span class="filter-bar__option-icon"></span>
                  <span class="p--body filter-bar__option-label">Remote Work</span>
                </div>
              </label>
            </div>
          </fieldset>

          <hr class="filter-bar__divider" />

          <div class="filter-bar__dropdown-buttons">
            <a class="button--medium-primary" href="#">Apply</a>
            <a class="tertiary-info" href="#">Clear all</a>
          </div>
        </div>

      </details>
      <details class="filter-bar__details filter-bar__sorter">
        <summary class="filter-bar__menu-item">
          <span class="p--body filter-bar__filter-label">
            Sort By
          </span>
          <span class="tertiary-info filter-bar__filter-label-mobile">
            Sort By
          </span>
        </summary>

        <div class="filter-bar__dropdown-small section--bg-white">
          <span class="p--body filter-bar__sorter-label">Sort By</span>
          <fieldset class="filter-bar__option-list">
            <div class="filter-bar__sorter-item">
              <label class="filter-bar__sorter-input-wrapper">
                <input
                  class="filter-bar__sorter-input-toggle"
                  name="job-type"
                  type="radio"
                />
                <span class="p--body filter-bar__sorter-input-label">Most Recent</span>
              </label>
            </div>
            <div class="filter-bar__sorter-item">
              <label class="filter-bar__sorter-input-wrapper">
                <input
                  class="filter-bar__sorter-input-toggle"
                  name="job-type"
                  type="radio"
                />
                <span class="p--body filter-bar__sorter-input-label">Lorem Ipsum</span>
              </label>
            </div>
            <div class="filter-bar__sorter-item">
              <label class="filter-bar__sorter-input-wrapper">
                <input
                  class="filter-bar__sorter-input-toggle"
                  name="job-type"
                  type="radio"
                />
                <span class="p--body filter-bar__sorter-input-label">Dolor Sit</span>
              </label>
            </div>
          </fieldset>
        </div>

      </details>

    </div>
    <div class="section--bg-sec-blue filter-bar__dropdown-buttons-mobile">
      <a class="tertiary-info" href="#">Clear all</a>
      <a class="button--medium-primary-flex" href="#">Apply</a>
    </div>
    <div class="filter-bar__search">
      <div class="filter-bar__search-field">
        <input
          class="p--body filter-bar__search-input"
          placeholder="Search keywords"
          type="text"
        />
      </div>
      <div class="filter-bar__separator"></div>
      <div
        class="filter-bar__search-icon"
        data-aria-label-open="Open Search"
        data-aria-label-close="Close Search"
      >
        <a
          class="filter-bar__search-icon__a"
          href="#filter-bar__combined-menu"
          id="open-search"
        >
          <span class="hidden">Open Search</span>
        </a>
        <a
          class="filter-bar__search-icon__a"
          href="#filter-bar__content"
          id="close-search"
        >
          <span class="hidden">Close Search</span>
        </a>
      </div>
    </div>
  </div>

</form>

<div class="filter-bar__selected-options">

  <ul class="filter-bar__selected-list">
    <li class="filter-bar__option-item">
      <div class="filter-bar__selected-option">
        <a class="filter-bar__selected-icon" href="#"></a>
        <span class="p--body filter-bar__selected-label">Career Advice</span>
      </div>
    </li>
    <li class="filter-bar__option-item">
      <div class="filter-bar__selected-option">
        <a class="filter-bar__selected-icon" href="#"></a>
        <span class="p--body filter-bar__selected-label">Contingent Workforce</span>
      </div>
    </li>
    <li class="filter-bar__option-item">
      <div class="filter-bar__selected-option">
        <a class="filter-bar__selected-icon" href="#"></a>
        <span class="p--body filter-bar__selected-label">Design &amp; Experience</span>
      </div>
    </li>
    <li class="filter-bar__option-item">
      <div class="filter-bar__selected-option">
        <a class="filter-bar__selected-icon" href="#"></a>
        <span class="p--body filter-bar__selected-label">Diversity, Equity,
          &amp; Inclusion</span>
      </div>
    </li>
    <li class="filter-bar__option-item"><a
        class="p--body filter-bar__selected-clear"
        href="#"
      >Clear all</a>
    </li>
  </ul>

</div>

<div class="section__inner section--bg-white">

</div><!-- .section--bg-white .section__inner -->
