

<div class="section--bg-white demo-section">
  <form class="form" id="contact-switcher">
    <input 
      id="find-talent" 
      class="find-talent" 
      type="radio" 
      name="action" 
      value="find-talent" 
      checked="">
    <label for="find-talent">Find Talent</label>

    <input 
      id="find-work" 
      class="find-work" 
      type="radio" 
      name="action" 
      value="find-work">
    <label for="find-work">Find Work</label>

    <input 
      id="contact-agent" 
      class="contact-agent" 
      type="radio" 
      name="action" 
      value="contact-agent">
    <label for="contact-agent">Contact an Agent</label>

    <input 
      id="general-inquiry" 
      class="general-inquiry" 
      type="radio" 
      name="action" 
      value="general-inquiry">
    <label for="general-inquiry">General Inquiry</label>

  </form>
</div>


