

<div class="section--bg-white">
  <div class="section__inner">
    <table>
      <thead>
        <tr>
          <th>Heading 1</th>
          <th>Heading 2</th>
          <th>Heading 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Data A 1</td>
          <td>Data A 2</td>
          <td>Data A 3</td>
        </tr>
        <tr>
          <td>Data B 1</td>
          <td>Data B 2</td>
          <td>Data B 3</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
