

<div class="section--bg-white demo-section">

  <div class="section__inner">

    <nav class="tabs-nav">

      <select class="tabs-nav__dropdown">
        <option><a href="#">Content & Writing</a></li>
        <option><a href="#">Creative</a></li>
        <option><a href="#">Digital Accessibility</a></li>
        <option><a href="#">Experience Design</a></li>
        <option><a href="#">Gaming</a></option>
        <option><a href="#">Marketing</a></option>
        <option><a href="#">Tech</a></option>
      </select>

      <ul class="tabs-nav__ul">
        <li class="tabs-nav__ul__li open" data-panel-id="0"><a href="#panel-0">Content & Writing</a></li>
        <li class="tabs-nav__ul__li" data-panel-id="1"><a href="#panel-1">Creative</a></li>
        <li class="tabs-nav__ul__li" data-panel-id="2"><a href="#panel-2">Digital Accessibility</a></li>
        <li class="tabs-nav__ul__li" data-panel-id="3"><a href="#panel-3">Experience Design</a></li>
        <li class="tabs-nav__ul__li" data-panel-id="4"><a href="#panel-4">Gaming</a></li>
        <li class="tabs-nav__ul__li" data-panel-id="5"><a href="#panel-5">Marketing</a></li>
        <li class="tabs-nav__ul__li" data-panel-id="6"><a href="#panel-6">Tech</a></li>
      </ul>

    </nav>
    <section class="tabs">

      <div class="tab open" id="panel-0">

        <h3 class="tab__heading">Content & Writing</h3>
        <p class="tab__copy--highlighted">Craft clear, crisp content along every step in the customer journey.</h4>

        <h4 class="tab__example-list__heading">Example Roles:</h4>
        <ul class="tab__example-list__content">
          <li>Content Producer</li>
          <li>Copy Editor</li>
          <li>Instructional Designer</li>
          <li>Proposal Writer</li>
          <li>Web Content Editor</li>
          <li>Content Strategist</li>
          <li>Copywriter</li>
          <li>Proofreader</li>
          <li>Technical Writer</li>
        </ul>

        <h4 class="tab__content-slider__heading">Client Stories:</h4>

        <div class="tab__content-slider content-slider" aria-label="gallery">

          <div class="content-slider__controls">
            <a href="" aria-label="previous" class="content-slider__controls-left"></a>
            <a href="" aria-label="next" class="content-slider__controls-right"></a>
          </div> <!-- .content-slider__controls -->

          <div class="content-slider__cards-list">

            <div class="content-slider__block">

              <article class="content-block--split">

                <div class="content-block__upper">
                  <img class="content-block__image" src="https://via.placeholder.com/715x477" role="presentation"
                    alt="" />

                  <div class="content-block__overlay-content">
                    <div class="content-block__overlay-image" aria-label="Microsoft's logo" style="
                      mask: url(https://aquent.com/dA/a0a7bd8781/logo/Microsoft.svg/300w) no-repeat center / contain;
                      -webkit-mask: url(https://aquent.com/dA/a0a7bd8781/logo/Microsoft.svg/300w) no-repeat center / contain;
                    "></div>
                  </div>

                </div> <!-- .content-block__upper -->

                <div class="content-block__lower">
                  <h4 class="content-block__title">Until AI has its own warmth and conversational skill, Microsoft needs
                    Writers.</h4>

                  <p class="content-block__text">Microsoft envisioned an everywhere-you-go virtual assistant, Cortana.
                    To keep its conversational style human, we staffed an innovative content mix of Screenplay Writers,
                    Dialogue Doctors, and Comedians.
                  </p>
                </div><!-- .content-block__lower -->

              </article> <!-- .content-block--split -->

            </div> <!-- .content-slider__block-->

          </div> <!-- .content-slider__cards-list -->

        </div> <!-- .content-slider -->

      </div> <!-- .tab #panel-0-->

      <div class="tab" id="panel-1">

        <h3 class="tab__heading">Creative</h3>
        <p class="tab__copy--highlighted">Move your audience and drive your business forward with compelling creative.
          </h4>

        <h4 class="tab__example-list__heading">Example Roles:</h4>
        <ul class="tab__example-list__content">
          <li>Art Director</li>
          <li>Copy Editor</li>
          <li>Creative Operations</li>
          <li>Illustrator</li>
          <li>Presentation Specialist</li>
          <li>Project Manager</li>
          <li>Visual Designer</li>
          <li>Creative Director</li>
          <li>Graphic Designer</li>
          <li>Packaging Designer</li>
          <li>Production Artist</li>
          <li>Video Editor</li>
        </ul>

        <h4 class="tab__content-slider__heading">Client Stories:</h4>

        <div class="tab__content-slider content-slider" aria-label="gallery">

          <div class="content-slider__controls">
            <a href="" aria-label="previous" class="content-slider__controls-left"></a>
            <a href="" aria-label="next" class="content-slider__controls-right"></a>
          </div> <!-- .content-slider__controls -->

          <div class="content-slider__cards-list">

            <div class="content-slider__block">

              <article class="content-block--split">

                <div class="content-block__upper">
                  <img class="content-block__image" src="https://via.placeholder.com/715x477" role="presentation"
                    alt="" />

                  <div class="content-block__overlay-content">
                    <div class="content-block__overlay-image" aria-label="Cyber Agent's logo" style="
                      mask: url(https://aquent.com/dA/17ca8cb1d6/logo/ALT_ClientLogos_8x5_CyberAgent.svg/300w) no-repeat center / contain;
                      -webkit-mask: url(https://aquent.com/dA/17ca8cb1d6/logo/ALT_ClientLogos_8x5_CyberAgent.svg/300w) no-repeat center / contain;
                    "></div>
                  </div>

                </div> <!-- .content-block__upper -->

                <div class="content-block__lower">
                  <h4 class="content-block__title">Our talent make the mission possible for Japanese digital media firm,
                    CyberAgent.</h4>

                  <p class="content-block__text">CyberAgent is one of Japan’s most exciting and diverse digital media
                    companies. Since 2010, over 50 of our talent—everyone from Social Gaming Experts and Creative
                    Directors to Illustrators and Designers—have helped fuel their growth.
                  </p>
                </div><!-- .content-block__lower -->

              </article> <!-- .content-block--split -->

            </div> <!-- .content-slider__block-->

          </div> <!-- .content-slider__cards-list -->

        </div> <!-- .content-slider -->

      </div> <!-- .tab #panel-1-->

      <div class="tab" id="panel-2">

        <h3 class="tab__heading">Digital Accessibility</h3>
        <p class="tab__copy--highlighted">Deliver inclusive experiences that leave no one
          behind.</h4>

        <h4 class="tab__example-list__heading">Example Roles:</h4>
        <ul class="tab__example-list__content">
          <li>Accessibility Analyst</li>
          <li>Accessibility Architect</li>
          <li>Accessibility Designer</li>
          <li>Accessibility Developer</li>
          <li>Accessibility Engineer</li>
          <li>Accessibility QA Tester</li>
          <li>Accessibility Specialist</li>
        </ul>

        <h4 class="tab__content-slider__heading">Client Stories:</h4>

        <div class="tab__content-slider content-slider" aria-label="gallery" data-control-surface="content-block__upper">

          <div class="content-slider__controls">
            <a href="" aria-label="previous" class="content-slider__controls-left"></a>
            <a href="" aria-label="next" class="content-slider__controls-right"></a>
          </div> <!-- .content-slider__controls -->

          <div class="content-slider__cards-list">

            <div class="content-slider__block">

              <article class="content-block--split">

                <div class="content-block__upper">
                  <img class="content-block__image" src="https://via.placeholder.com/715x477" role="presentation"
                    alt="" />

                  <div class="content-block__overlay-content">
                    <div class="content-block__overlay-image" aria-label="New York Public library's logo" style="
                      mask: url(../../img/logo--ny-public-library.svg) no-repeat center / contain;
                      -webkit-mask: url(../../img/logo--ny-public-library.svg) no-repeat center / contain;
                    "></div>
                  </div>

                </div> <!-- .content-block__upper -->

                <div class="content-block__lower">
                  <h4 class="content-block__title">NYPL wanted to give its patrons a tool to track their research. We
                    delivered.</h4>

                  <p class="content-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div><!-- .content-block__lower -->

              </article> <!-- .content-block--split -->

            </div> <!-- .content-slider__block-->

          </div> <!-- .content-slider__cards-list -->

        </div> <!-- .content-slider -->

      </div> <!-- .tab #panel-2-->

    </section> <!-- .tabs -->

  </div> <!-- .section-inner -->
</div>
