<div class="section--bg-prim-blue">
  <div class="content-list section__inner">
    <h1 class="content-list__headline">Here’s how we work together.</h1>

    <dl class="content-steps">
      <dt>
        <div class="content-steps__title-group">
          <span class="content-steps__enumerator">01 / 05</span>
          <hr class="content-steps__connector" />
        </div>
      </dt>
      <dd class="content-block">
        <div class="content-block__title">Create search brief</div>
        <div class="content-block__text">The skills you need, right when you
          need them. Hire talent for everything from quick, urgent deliverables
          to long-term projects.</div>
      </dd><!-- .content-block -->
    </dl><!-- .content-steps -->

    <dl class="content-steps">
      <dt>
        <div class="content-steps__title-group">
          <span class="content-steps__enumerator">02 / 05</span>
          <hr class="content-steps__connector" />
        </div>
      </dt>
      <dd class="content-block">
        <div class="content-block__title">Recruit and vet</div>
        <div class="content-block__text">Your consultant finds the right
          talent—and vets them through video interviews, portfolio reviews, and
          skills assessments. They present the top 3-5 candidates to you.</div>
      </dd><!-- .content-block -->
    </dl><!-- .content-steps -->

    <dl class="content-steps">
      <dt>
        <div class="content-steps__title-group">
          <span class="content-steps__enumerator">03 / 05</span>
          <hr class="content-steps__connector" />
        </div>
      </dt>
      <dd class="content-block">
        <div class="content-block__title">Interview candidates</div>
        <div class="content-block__text">You spend a half-day session
          interviewing candidates back to back—then work with your consultant to
          compare, contrast, and pick finalists.</div>
      </dd><!-- .content-block -->
    </dl><!-- .content-steps -->

    <dl class="content-steps">
      <dt>
        <div class="content-steps__title-group">
          <span class="content-steps__enumerator">04 / 05</span>
          <hr class="content-steps__connector" />
        </div>
      </dt>
      <dd class="content-block">
        <div class="content-block__title">Extend offer and close</div>
        <div class="content-block__text">Having already pre-closed your chosen
          candidate on everything including compensation, your consultant
          extends the offer and gets the “yes” you’re looking for.</div>
      </dd><!-- .content-block -->
    </dl><!-- .content-steps -->

    <dl class="content-steps">
      <dt>
        <div class="content-steps__title-group">
          <span class="content-steps__enumerator">05 / 05</span>
          <hr class="content-steps__connector" />
        </div>
      </dt>
      <dd class="content-block">
        <div class="content-block__title">Check in post-hire</div>
        <div class="content-block__text">Your consultant checks in with you and
          your new hire to make sure the fit is working for everyone.</div>
      </dd><!-- .content-block -->
    </dl><!-- .content-steps -->
  </div><!-- .content-list -->
</div>