<div class="section--bg-prim-blue">
  <div class="content-list section__inner">
    <h1 class="content-list__headline">Hire the talent you need, any way you
      want.</h1>
    <a href="#" class="content-block--clickable">
      <dl class="content-block--horizontal">
        <dt class="content-block__title-group">
          <span class="content-block__title">Temporary Staffing</span></dt>
        <dd class="content-block__text">The skills you need, right when you need
          them. Hire talent for everything from quick, urgent deliverables to
          long-term projects.</dd>
      </dl><!-- .content-block--horizontal -->
    </a><!-- .content-block--clickable -->

    <hr class="content-list__divider">

    <a href="#" class="content-block--clickable">
      <dl class="content-block--horizontal">
        <dt class="content-block__title-group">
          <span class="content-block__title">Progressive Hire</span></dt>
        <dd class="content-block__text">Assess fit before you commit.
          Progressive Hire is our take on temp to perm with a 90-day “test
          drive” and great support for clients and new hires.</dd>
      </dl><!-- .content-block--horizontal -->
    </a><!-- .content-block--clickable -->

    <hr class="content-list__divider">

    <a href="#" class="content-block--clickable">
      <dl class="content-block--horizontal">
        <dt class="content-block__title-group">
          <span class="content-block__title">Direct Hire</span></dt>
        <dd class="content-block__text">A perfect, personalized match. Direct
          hire is our permanent placements service for important roles and
          strategic hires.</dd>
      </dl><!-- .content-block--horizontal -->
    </a><!-- .content-block--clickable -->

    <hr class="content-list__divider">

    <a href="#" class="content-block--clickable">
      <dl class="content-block--horizontal">
        <dt class="content-block__title-group">
          <span class="content-block__title">Studio Services</span></dt>
        <dd class="content-block__text">A creative partner that delivers.
          Outsource creative projects to our managed talent services to maximize
          your team’s capabilities and increase efficiency.
        </dd>
      </dl><!-- .content-block--horizontal -->
    </a><!-- .content-block--clickable -->
  </div><!-- .content-list -->
</div>