.basic-content {
  &__card {
    @include vertical-spacing(md-3, bottom, margin);
  }

  &__headline {
    @extend h1;
    @include vertical-spacing(md-1, bottom, margin);
  }

  &__title {
    @extend .h4;
    @include vertical-spacing(sm-6, bottom, margin);
  }

  @include breakpoint(tablet) {
    &__card {
      margin-left: 19.5rem;
      margin-right: 4rem;
    }
  }

  &--two-cols {
    display: grid;
    grid-column-gap: 13.9rem;

    .basic-content__card {
      margin-left: 0;
      margin-right: 0;
    }

    @include breakpoint(tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &--img-two-cols {
    @include grid();

    // Breaking into a single column on tablet results in the image being way too shrinked
    @include breakpoint(desktop) {
      gap: 0 9.5rem;
      grid-template-columns: 3fr 2fr;
      grid-template-rows: auto;

      .basic-content__card {
        grid-column: 2/3;
        margin-left: 0;
        margin-right: 0;
      }

      .basic-content__img {
        grid-column: 1/2;
        grid-row: span 4;
      }
    }
  }

  &--half { 
    @include grid();

    @include breakpoint(tablet) {
      grid-template-columns: 1fr 1fr;
    }

    .basic-content {
      &__headline {
        margin-bottom: 1.5rem;

        @include breakpoint(tablet) {
          margin-bottom: 3rem;
        }
      }

      &__text {
        color: $cool-neutral-1;

        &--bold {
          @extend .p--body-emphasis;
          color: $primary-blue;
        }
      }
    }
  }
}