/** TABLE OF CONTENTS - Cards
 — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — /
1 — Content Block
2 - Content Block - Clickable
3 - Content Block - Clickable - Blog Cards
4 - Content Block - Clickable - Homepage Blog Card Grid
5 - Content Block - Split

/// END TABLE OF CONTENTS **/

/** 1 - Content Block
------------------------------------------------------------*/

.content-block {
  &__button {
    display: none;
    position: relative;

    @include breakpoint(tablet) {
      display: inline-block;
    }
  }

  &__link {
    @extend a;
    display: inline-block;
    position: relative;
  }

  // !!! Note: Not sure if `__date` shoudl be replaced by `__overlay-content`

  &__date,
  &__image,
  &__overlay-content {
    align-self: center;
    grid-row: 1 / 2;
  }

  &__date,
  &__overlay-content {
    align-items: center;
    background-color: $secondary-blue-1;
    color: $primary-white;
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
    height: 9rem;
    justify-content: center;
    margin-left: -1rem;
    width: 9rem;
    z-index: 1;

    @include breakpoint(tablet) {
      margin-left: -2rem;
    }

    &-month {
      @include tertiary-info();
    }

    &-day {
      @extend .h4;
    }
  }

  &__overlay-image {
    background-color: #fff;
    height: 73.3%;
    width: 73.3%;
  }

  &__image {
    grid-column: 1 / 3;
    width: 100%;
    max-width: 100%;
  }

  &__blog {
    margin-bottom: 2.4rem;

    &-text {
      color: $cool-neutral-1;
      font-size: 2rem;
      padding-bottom: 1rem;

      &-tag {
        color: $secondary-green-1 !important;
        font-size: 1.6rem;
      }
    }
  }

  &__text {
    margin-bottom: 2.4rem;
  }

  &__title {
    @extend .h4;
    color: $secondary-blue-1;
    margin-bottom: 1rem;

    @include breakpoint(tablet) {
      margin-bottom: 1.4rem;
    }
  }

  &__upper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2.9rem;
    overflow: hidden;

    &--blog {
      margin-bottom: 2.1rem;

      .post-image {
        display: inline-block;
        overflow: hidden;
      }
    }
  }

  &__lower {
    .content-block__subtitle {
      @include tertiary-info();
      color: $secondary-green-1;
      margin-bottom: 1rem;

      @include breakpoint(tablet) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__author {
    color: $primary-blue;
    font-weight: 600;
  }

  &__blog-author-date {
    @extend .tk-degular-text;
    color: $secondary-green-1;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

/** 2 - Content Block - Clickable
------------------------------------------------------------*/
.content-block--clickable {
  @include clear-decoration();

  background: none;
  display: block;

  // Note: The title itself is not a link - the entire block is. That is the reason why the title is styled to look like a link.
  .content-block__title {
    display: inline;
    background: linear-gradient($accessible-green 0 0) 0 100%/100% 0.2rem no-repeat;

    @include breakpoint(desktop) {
      background: linear-gradient($accessible-green 0 0) 0 100% / var(--d, 0)
        0.2rem no-repeat;
      transition: 0.3s;
    }

    &::after {
      @extend .content-block__title;
      content: "";
      display: block;
    }
  }

  &:hover {
    .content-block__title {
      color: $primary-blue;
      --d: 100%;
    }

    .content-block__text,
    .content-block__text * {
      color: $primary-blue;
    }
  }

  .content-block__image {
    @include image-zoom;
  }
}

/** 3 - Content Block - Clickable - Blog Cards
------------------------------------------------------------*/
.content-block--blog {
  @extend .content-block--clickable;
  padding-bottom: 7.5rem;

  &:last-child {
    padding-bottom: 0;
  }

  @include breakpoint(desktop) {
    padding-bottom: 0;
  }

  &-featured {
    @extend .content-block--clickable;
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
    width: 100%;

    .content-block__blog-title {
      @extend .content-block__title;
      font-size: 4.2rem;
      
      @include breakpoint(desktop) {
        font-size: 6.8rem;
      }
    }

    @include breakpoint(desktop) {
      @include grid();
      align-items: center;
      column-gap: 14.5rem !important;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 14.5rem;
      padding-top: 5.5rem;
      width: 100%;
    }
  }

  &-flip {
    order: -1;
  }

  &__lower {
    margin-top: 2.1rem;
  }

  &-featured-home {
    @extend .content-block--clickable;
    padding-bottom: 5rem;
    border-bottom: 1px solid $cool-neutral-6;

    @include breakpoint(desktop) {
      border-bottom: none;
      padding-bottom: 0;
    }

    @media only screen and (min-width: 866px) and (max-width: 1160px) {
      // TODO discuss with Mark and the Web team about how to handle custom breakpoints
      width: 77rem;
    }
  }
}

/** 4 - Content Block - Clickable - Homepage Blog Card Grid
------------------------------------------------------------*/
.content-block--homepage-blog {
  padding-bottom: 4.4rem;

  @include breakpoint(desktop) {
    display: grid;
    column-gap: 6rem;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10rem;
  }

  @media only screen and (min-width: 866px) and (max-width: 1160px) {
    // TODO discuss with Mark and the Web team about how to handle custom breakpoints
    grid-row-gap: 6.2rem;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .grid-col-content__four--homepage-blog {
    @include breakpoint(desktop) {
      column-gap: 5.8rem;
      display: grid;
      grid-row-gap: 10rem;
    }

    column-gap: 2rem;
    margin-left: 0;
    padding-left: 0;

    .content-block__title {
      @extend .h6;
    }

    .content-slider__block {
      @include breakpoint(desktop) {
        // Override width set by the content slider
        min-width: 24rem;
      }
  
      @media only screen and (min-width: 866px) and (max-width: 1160px) {
        // TODO discuss with Mark and the Web team about how to handle custom breakpoints
        // Override width set by the content slider
        min-width: 35rem;
      }
  
      // Override width set by the content slider
      min-width: 27.8rem;
    }

    .content-block--blog {
      @include breakpoint(desktop) {
        width: fit-content;
      }
    }
  }
}

/** 5 - Content Block - Split
------------------------------------------------------------*/
.content-block--split {
  width: calc(min(100%, 71.5rem));
  grid-column-gap: 4rem;

  .content-block {
    &__lower {
      @include breakpoint(tablet) {
        display: grid;
        column-gap: 4rem;
        grid-template-columns: 3fr 4fr;
        white-space: normal;
      }
    }

    &__title {
      @extend .h5;
      margin-bottom: 1.5rem;

      @include breakpoint(tablet) {
        grid-column: 1/2;
      }
    }

    &__text {
      grid-column: 2/3;
    }

    &__overlay-content {
      width: 10rem;
      height: 7.5rem;

      @include breakpoint(tablet) {
        width: 15rem;
        height: 11.5rem;
      }
    }
  }
}
