p + .content-list {
  @include vertical-spacing(md-2, top, margin);
}

.content-list + p {
  @include vertical-spacing(sm-5, top, margin);
}

.content-list {
  &__headline {
    @extend h3;
    @include vertical-spacing(md-1, bottom, margin);

    @include breakpoint(tablet) {
      font-size: 8.4rem;
      line-height: 1.048;
    }

    @include breakpoint(desktop) {
      &:hover {
        .service__heading {
          --d: 100%;
        }
      }
    }
  }

  &__divider {
    background: $cool-neutral-2;
    margin: 0;
  }

  .content-block {
    &--clickable {
      &:hover {
        .content-block__title {
          color: $primary-white;
        }

        .content-block__text,
        .content-block__text * {
          color: $primary-white;
        }
      }
    }

    &--horizontal {
      @include grid();
      margin: 4rem 0;

      &:not(:last-child) {
        margin-bottom: 4rem;
      }

      @include breakpoint(tablet) {
        grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
      }

      @include breakpoint(desktop) {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-flow: column;
      }
    }

    &__text {
      margin-bottom: 0;
    }

    &__title {
      color: $primary-white;
      font-size: 4.2rem;
      line-height: 1.095;
    }

    @include breakpoint(desktop) {
      &__title-group {
        grid-column: 1/4;
      }

      &__text {
        grid-column: 5/-1;
        justify-self: center;

        // lead-para 1
        font-size: 2.8rem;
        line-height: 1.286;
      }
    }
  }

  .content-steps {
    @include grid();

    &:not(:last-of-type) {
      @include vertical-spacing(md-2, bottom, margin);
    }

    @include breakpoint(tablet) {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: column;
      column-gap: 5.5rem;
    }

    @include breakpoint(desktop) {
      max-width: 76.2rem;
      margin-left: auto;
      margin-right: auto;
    }

    &__title-group {
      @include grid();

      @include breakpoint(tablet) {
        grid-template-columns: auto 1fr;
        grid-column-gap: 5.5rem;
        margin-bottom: 0;
      }
    }

    &__enumerator {
      @extend .service__enumerator;

      @include breakpoint(tablet) {
        text-align: right;
        margin-top: 1rem;
      }
    }

    &__connector {
      display: none;

      @include breakpoint(tablet) {
        display: inline-block;
        background: $cool-neutral-3;
        border: 0;
        height: 0.1rem;
        margin: auto 0;
      }
    }

    .content-block {
      border-left: 0.1rem solid $cool-neutral-3;
      padding-left: $grid-mobile-margin;
      margin-left: 1rem;

      @include breakpoint(tablet) {
        border: none;
        padding-left: 0;
        margin-left: 0;
      }

      &__title {
        color: $primary-white;
      }
    }
  }

  .stat-detail {
    @include grid();
    margin-bottom: 5rem;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 2fr;
      row-gap: 1rem;
      grid-auto-flow: column;
      column-gap: 5rem;
      margin-bottom: 0;
    }

    &__stat {
      @include grid();
      margin-bottom: 2rem;

      @include breakpoint(tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5rem;
        grid-template-rows: 1fr 2fr;
        grid-row: 1/3;
        margin-bottom: 0;
      }
    }

    &__heading {
      @extend h2;
      display: block;
      color: $secondary-orange-2;

      @include breakpoint(tablet) {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        align-self: end;
        justify-self: start;
        grid-column: 1/2;
      }
    }

    &__stat-description {
      grid-column: 1/2;
    }

    &__subheading {
      @extend h6;
      display: block;
    }

    &__attribute {
      @extend .p--body-extra-small;

      color: $secondary-green-2;
      display: flex;
    }

    &__connector {
      display: none;

      @include breakpoint(tablet) {
        display: inline-block;
        background: $cool-neutral-3;
        border: 0;
        height: 0.1rem;
        margin: auto 0;
        grid-column: 2/3;
        align-self: start;
        margin: 2rem 0;
      }
    }

    &__text-highlighted {
      background-color: $secondary-orange-2;
      color: $primary-blue;
      padding: 0 0.5rem;

      // .p--body-emphasis
      font-weight: 600;
    }

    .content-block {
      border-left: 0.1rem solid $cool-neutral-3;
      padding-left: $grid-mobile-margin;
      margin-left: 1rem;

      @include breakpoint(tablet) {
        border: none;
        padding-left: 0;
        margin-left: 0;
        grid-row: 2/3;
      }
    }
  }
}
