.filter-bar {
  padding: 0 2rem;

  @include breakpoint(desktop) {
    padding: 0 3rem;
  }

  &__content {
    display: flex;
    padding: 0 2rem;
    height: 100%;
    width: 100%;

    @include breakpoint(desktop) {
      padding: 0 3rem;
      position: relative;
    }

    /* close search */
    &:target {
      & > .filter-bar__menu > .filter-bar__sorter {
        display: none;
        animation: sweep-down 0.5s ease-in-out;

        @include breakpoint(desktop) {
          display: inline-block;
        }
      }

      & > .filter-bar__search > .filter-bar__search-field {
        display: none;
      }
    }
  }

  &__combined-menu {
    display: flex;
    width: 100%;

    @include breakpoint(desktop) {
      display: none;
    }

    /* open search */
    &:target {
      /* hide mobile filter menu */
      display: none;

      /* hide sorter */
      & ~ .filter-bar__menu > .filter-bar__sorter {
        @include breakpoint(desktop) {
          display: none;
        }
      }

      & ~ .filter-bar__search {
        width: 100%;

        /* show search field */
        & > .filter-bar__search-field {
          width: 100%;
          display: inline-block;
          animation: sweep-down 0.5s ease-in-out;
        }

        /* 
        * Transform magnifying glass icon
        * into a crossmark.
        */
        & > .filter-bar__search-icon {
          border: none;

          &:after,
          &:before {
            height: 0.2rem;
            width: 3rem;
            position: absolute;
            content: "";
            top: 50%;
            left: 0;
            background: $primary-white;
            transition: transform 250ms ease, background 250ms ease;
          }

          &:before {
            transform: rotate(45deg);
          }

          &:after {
            transform: rotate(-45deg);
          }

          &__a {
            position: absolute;
          }

          a {
            &#close-search {
              display: inline-block;
              z-index: 10;
              padding: 1.5rem;
            }

            &#open-search {
              display: none;
            }
          }
        }
      }
    }

    &__a {
      display: flex;
      background: none;
    }
  }

  &__filter-icon {
    width: 3rem;
    height: 100%;
    mask: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='30' y1='10' x2='13' y2='10' stroke='white' stroke-width='2'/%3E%3Ccircle cx='10' cy='10' r='4' stroke='white' stroke-width='2'/%3E%3Cline x1='6' y1='10' x2='2' y2='10' stroke='white' stroke-width='2'/%3E%3Cline x1='2' y1='22' x2='19' y2='22' stroke='white' stroke-width='2'/%3E%3Ccircle cx='22' cy='22' r='4' transform='rotate(-180 22 22)' stroke='white' stroke-width='2'/%3E%3Cline x1='26' y1='22' x2='30' y2='22' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat center / contain;
    background-color: $primary-white;
    margin-right: 3rem;
    display: block;
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
    background-color: $primary-white;
    padding-bottom: 20rem;
    z-index: 10;

    @include breakpoint(desktop) {
      display: grid;
      height: 100%;
      background-color: $secondary-blue-1;
      grid-template-columns: repeat(3, auto) 1fr;
      grid-column-gap: 0;
      grid-auto-columns: max-content;
      position: unset;
      transform: none;
      overflow: visible;
      padding: 0;

      &--blog {
        grid-template-columns: auto 1fr;
      }

      &--job {
        grid-template-columns: repeat(4, auto);
        justify-content: start;
      }
    }

    & > * {
      margin-left: 2rem;
      margin-right: 2rem;

      @include breakpoint(desktop) {
        margin: 0;

        &:last-child {
          justify-self: end;
        }
      }
    }

    & > span,
    & > details {
      margin-bottom: 0 !important;
    }

    /* show mobile dropdown filter */
    &:target {
      transform: translateY(0%);

      /* show apply filter buttons  */
      & ~ .filter-bar__dropdown-buttons-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        padding: 2rem;
        column-gap: 2rem;
        justify-items: center;
        align-items: center;

        @include breakpoint(desktop) {
          display: none;
        }
      }
    }
  }

  &__header-mobile {
    color: $primary-blue;
    display: flex;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    order: -1;

    @include breakpoint(desktop) {
      display: none;
    }

    &__text {
      @extend .h6;
      width: 100%;
    }

    &__close-icon {
      display: inline-block;
      width: 3rem;
      background: none;

      @include breakpoint(desktop) {
        display: none;
      }

      &:after,
      &:before {
        height: 0.2rem;
        width: 3rem;
        background: $primary-blue;
        content: "";
        position: absolute;
        top: 50%;
        transition: transform 250ms ease, background 250ms ease;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  &__details {
    display: inline-block;

    @include breakpoint(desktop) {
      .filter-bar__text-label ~ &,
      & ~ & {
        padding-left: 3rem;
      }
    }

    &[open] {
      .filter-bar {
        &__dropdown,
        &__dropdown-small {
          animation: sweep-down 0.5s ease-in-out;
        }

        &__menu-item {
          // lock mobile menu on open
          pointer-events: none;

          &:before {
            clip-path: polygon(
              88% 12%,
              100% 0,
              100% 95%,
              95% 100%,
              0 100%,
              12% 88%,
              88% 88%
            );
            content: "";
            display: block;
            height: 1.5rem;
            left: 3rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(135deg);
            width: 1.5rem;
          }

          @include breakpoint(desktop) {
            background-color: transparent;
            pointer-events: auto;

            &:before {
              content: none;
            }
          }
        }
      }
    }
  }

  &__menu-item {
    cursor: pointer;
    list-style: none;
    position: relative;
  }

  &__text-label {
    color: $secondary-green-1;
    padding: 3rem 0 3rem 0;
    display: none;

    @include breakpoint(desktop) {
      display: block;
      color: $secondary-green-2;
    }
  }

  &__text-label-mobile {
    padding: 3rem 2rem 3rem 0;
  }

  &__filter-label,
  &__filter-label-mobile {
    margin-bottom: 0 !important;
  }

  &__filter-label-mobile {
    display: flex;
    color: $secondary-green-1;
    padding: 3rem 1rem 3rem 0;

    @include breakpoint(desktop) {
      display: none;
    }
  }

  &__filter-label {
    display: none;
    padding: 3rem 2rem 3rem 0;

    @include breakpoint(desktop) {
      display: inline-block;
      position: relative;
      color: $primary-white;

      &::before {
        background-color: $secondary-green-2;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        content: "";
        display: block;
        height: 0.5rem;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0.974rem;
      }

      @at-root [open] #{&} {
        background: linear-gradient(
          0deg,
          $primary-green 0%,
          $primary-green 8%,
          transparent 8%,
          transparent 100%
        );

        &::before {
          clip-path: polygon(50% 0, 100% 100%, 0 100%);
        }
      }
    }
  }

  &__dropdown {
    left: 0;

    width: 100%;

    @include breakpoint(desktop) {
      padding: 6rem;
    }

    &-small {
      @include breakpoint(desktop) {
        text-align: right;
        right: 0;
        padding: 3rem;
        width: max-content;
      }
    }

    &,
    &-small {
      z-index: 10;
      overflow: hidden;
      list-style: none;
      background: $primary-white;

      @include breakpoint(desktop) {
        transform: none;
        display: grid;
        position: absolute;
        height: auto;
        overflow: visible;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      }
    }

    &-buttons {
      display: none;

      @include breakpoint(desktop) {
        display: block;

        & > a:first-child {
          display: inline-block;
          margin-right: 3rem;
        }
      }

      &-mobile {
        display: none;
      }
    }
  }

  &__option {
    border: 0.2rem solid $secondary-green-2;
    padding: 0.7rem 1.5rem;

    position: relative;
    display: block;

    &-list {
      font-weight: inherit;
      margin: 0;
      padding: 0;
      display: inline-block;
      border: 0;
    }

    &-item {
      display: flex;
      margin: 1.5rem 0;

      &:before {
        content: "";
        margin-left: 0;
        width: 0;
      }

      @include breakpoint(desktop) {
        display: inline-block;
      }
    }

    &-wrapper {
      margin-top: 0;
      padding-bottom: 0;
    }

    &-label {
      color: $primary-blue;
      background: none;
      text-decoration: none;
      cursor: pointer;
      display: block;
      padding-left: 3rem;
      text-align: left;
      box-shadow: none;

      // unset default form label styling
      letter-spacing: 0;
      text-transform: none;
    }

    // plus sign icon
    &-icon {
      cursor: pointer;

      &::after,
      &::before {
        height: 0.2rem;
        width: 2rem;

        background: $primary-green;
        content: "";
        position: absolute;
        transition: transform 250ms ease, background 250ms ease;
      }

      &::before {
        top: 50%;
        transform: rotate(-180deg);
      }

      &::after {
        top: 50%;
        transform: rotate(90deg);
      }
    }

    &-toggle {
      top: 0;
      left: 0;
      opacity: 0;
      box-sizing: content-box;
      position: absolute;
    }

    &-toggle:checked ~ & {
      background: $primary-blue;
      border-color: $primary-blue;
    }

    // check mark icon
    &-toggle:checked ~ & > &-icon {
      &:after,
      &:before {
        height: 0.2rem;
        top: 50%;
        transition: transform 250ms ease, background 250ms ease;
      }

      // short stroke
      &:before {
        transform: rotate(50deg);
        top: 60%;
        left: 1.15rem;
        width: 1rem;
      }

      // kick stroke
      &:after {
        transform: rotate(305deg);
        width: 2.2rem;
      }
    }

    &-toggle:checked ~ & > &-label {
      color: $primary-white;
    }
  }

  &__divider {
    display: none;

    @include breakpoint(desktop) {
      display: block;
      background: $cool-neutral-6;
      margin: 3rem 0;
    }
  }

  &__selected {
    &-options {
      padding: 3rem;
      background-color: $primary-white;
    }

    &-list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      flex-direction: row;
      gap: 1.5rem;
      overflow-x: scroll;

      @include breakpoint(desktop) {
        display: inline-block;
        overflow-x: hidden;
      }
    }

    &-option {
      display: block;
      background: $primary-blue;
      border-color: $primary-blue;
      padding: 0.7rem 1.5rem 0.7rem 1rem;
      position: relative;
      display: grid;
      grid-template-columns: 3rem auto;
      grid-gap: 1rem;
    }

    // icon X
    &-icon {
      display: inline-block;
      width: 3rem;
      background: none;

      &:after,
      &:before {
        height: 0.2rem;
        width: 3rem;
        background: $primary-green;
        content: "";
        position: absolute;
        top: 50%;
        transition: transform 250ms ease, background 250ms ease;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    &-label {
      color: $primary-white;
      align-self: center;
      white-space: nowrap;
    }

    &-clear {
      margin-left: 2rem;
      white-space: nowrap;
      align-self: center;

      @include breakpoint(desktop) {
        display: inline-block;
        margin-left: 3rem;
        vertical-align: super;
      }
    }
  }

  &__sorter {
    &,
    &--client-stories {
      position: relative;
      display: block;
      padding-bottom: 6rem;
      order: -1;
      border-bottom: 0.1rem solid $cool-neutral-4;

      @include breakpoint(desktop) {
        order: unset;
        border-bottom: none;
        margin-bottom: 0;
      }
    }

    @include breakpoint(desktop) {
      & {
        padding: 0 3rem;
      }

      &--client-stories {
        padding: 0rem;
      }
    }

    &-item {
      display: block;

      &::before {
        content: "";
      }

      .filter-bar__sorter-input-label::before {
        display: none;
      }
    }

    &-label {
      display: none;

      @include breakpoint(desktop) {
        color: $secondary-green-1;
        display: block;
        text-align: right;
      }
    }

    &-input {
      &-wrapper {
        display: grid;
        grid-template-columns: 3rem auto;
        gap: 0.5rem;
        margin-top: 1rem;
        padding-bottom: 0;

        @include breakpoint(desktop) {
          display: inline-block;
        }

        .filter-bar__sorter-input-toggle {
          appearance: none;
          background-color: $primary-white;
          margin: 0.5rem 0;
          color: $cool-neutral-2;
          width: 2.5rem;
          height: 2.5rem;
          border: 0.3rem solid $cool-neutral-2;
          border-radius: 50%;
          transform: translateY(-0.075rem);
          opacity: 1;
  
          display: grid;
          place-content: center;
  
          &::before {
            content: "";
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1rem 1rem $primary-green;
          }
  
          &:checked::before {
            transform: scale(1);
          }
  
          @include breakpoint(desktop) {
            appearance: none;
            pointer-events: none;
            border: none;
            display: inline-block;
  
            &::before {
              box-shadow: none;
            }
          }
        }
      }

      

      &-label {
        background: none;
        color: $primary-blue;
        cursor: pointer;

        // unset default form label styling
        letter-spacing: 0;
        text-transform: none;

        &::before {
          display: none;
        }

        @include breakpoint(desktop) {
          background: linear-gradient(
              to right,
              $secondary-green-2,
              $secondary-green-2
            ),
            linear-gradient(to right, $accessible-green, $accessible-green);
          background-position: 100% 100%, 0 100%;
          background-repeat: no-repeat;
          background-size: 100% 0.2rem, 0 0.2rem;
          transition: background-size (500ms);

          &:hover,
          &:focus {
            background-size: 0 0.2rem, 100% 0.2rem;
          }

          &:focus-visible {
            box-shadow: 0 0 0.2rem 0.4rem $accessible-green;
            outline: none;
          }
        }
      }
    }
  }

  &__search {
    display: flex;

    &-field {
      display: none;
      padding-right: 2rem;
      text-align: left;

      @include breakpoint(desktop) {
        padding-right: 3rem;
        text-align: right;
      }
    }

    & &-input {
      border: 0;
      background: transparent;
      border-bottom: 0.1rem solid $primary-white;
      color: $primary-white;
      outline: 0;
      margin: 3rem 0;
      padding: 0;

      @include breakpoint(tablet){
        width: unset;
      }
   
      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $secondary-green-2;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $secondary-green-2;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $secondary-green-2;
      }
    }

    &-icon {
      // magnifying glass circle
      font-size: 100rem; /* This controls the size. */
      border: 0.3rem solid $primary-white;
      border-radius: 3.5rem;
      cursor: pointer;
      display: inline-block;
      left: 0.1rem;
      top: 35%;
      position: relative;
      height: 2.3rem;
      width: 2.3rem;
      display: block;
      margin-left: 1rem;

      // magnifying glass handle
      &::before {
        background: $primary-white;
        border-width: 0;
        bottom: -0.6rem;
        content: "";
        display: inline-block;
        height: 0.3rem;
        right: 1.6rem;
        position: absolute;
        width: 1rem;
        transform: rotate(-50deg);
        transition: transform 250ms ease, background 250ms ease;
      }

      &__a {
        background: none;
        height: 100%;
        left: 0;
        position: absolute;
        text-decoration: none;
        width: 100%;
      }

      a {
        &#close-search {
          display: none;
        }

        &#open-search {
          display: inline-block;
          z-index: 10;
          padding: 1.5rem;
        }
      }
    }
  }

  &__separator {
    padding-left: 2rem;
    border-left: 0.1rem solid $cool-neutral-2;
    margin: 2.5rem 0;

    @include breakpoint(desktop) {
      padding-left: 2rem;
    }
  }
}
