/** TABLE OF CONTENTS
 — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — /
1 - Form

2 — Inputs
  2.1 — Single line
  2.2 — Multi line
  2.3 - Radio Buttons
3 — Selects
  3.1 — Single
  3.2 — Multi

  4 - Contact Form
X — Layout

/// END TABLE OF CONTENTS **/

/** 1 - Form
------------------------------------------------------------*/
.form {
  @extend .tk-degular-text;
  display: flex;
  flex-direction: column;
}

/** 2 - Inputs
------------------------------------------------------------*/

/* =========================
2.1 - Single line
========================= */

/* =========================
2.2 - Multi line
========================= */

/* =========================
2.3 - Radio Buttons
========================= */
form {
  // Hide native radio input
  input[type="radio"] {
    opacity: 0;
    height: 0;
    width: 0;

    // Create a custom radio input in ::before
    & + ::before {
      background: transparent;
      border: 0.2rem solid $cool-neutral-4;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 2.4rem;
      margin-right: 1.3rem;
      vertical-align: bottom;
      width: 2.4rem;
      //not sure why the transition does not trigger.
      transition: all 0.2s ease-in-out;
    }

    &:checked + ::before {
      background: radial-gradient($accessible-green 40%, transparent 0%);
    }
  }

  input[type="radio"] + label {
    padding-bottom: 2.4rem;
  }

  // Apply theme appropriate colors
  @include theming($themes) {
    input[type="radio"] + label {
      cursor: pointer;
      color: get-theme-value(color);

      & + ::before {
        background: get-theme-value(background-color);
      }
    }
  }
}

/** 3 - Selects
------------------------------------------------------------*/
/* =========================
3.1 - Single
========================= */

.form {
  // select dropdown
  color: $primary-blue;

&__label, &__select {
  &:focus {
    border: 0.2rem solid $cool-neutral-2;
    outline: none;
  }
}

  &__label {
    @extend [class^="tertiary-info"];
    margin-top: 2.5rem;
    padding-bottom: 1.2rem;

    &__error.error {
      color: $product-red-3;
    }
  }

  &__select {
    appearance: none;
    border: 0.2rem solid $secondary-green-2;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='9' viewBox='0 0 17 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 0.5L8.5 8.5L16.5 0.5H0.5Z' fill='%23051C2C'/%3E%3C/svg%3E%0A");
    background-origin: content-box;
    background-position: right 1% center;
    background-repeat: no-repeat;
    background-size: 16px 8px;
    color: $primary-blue;
    padding: 1.6rem;
    //margin to the error message
    margin-bottom: 0.6rem;
    
    // might be needed
    & + :is(.form__label__error, .error){

    }
  }

}
//#location-error

/* =========================
2.2 - Multi
========================= */

/* =========================
3 - Contact Form
========================= */

// &__radio {
//   &__heading {
//     @extend [class^="tertiary-info"];
//   }
// }

/** X - Layout
------------------------------------------------------------*/
.form__field-wrapper {
  margin-bottom: 1.6rem;
}
