/** TABLE OF CONTENTS
 — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — /
1 — Inputs
  1.1 — Single line
  1.2 — Multi line
2 — Selects
  2.1 — Single
  2.2 — Multi

  3 - Contact Form

/// END TABLE OF CONTENTS **/

/** 1 - Inputs
------------------------------------------------------------*/
/* =========================
1.1 - Single line
========================= */

/* =========================
1.2 - Multi line
========================= */

/** 2 - Selects
------------------------------------------------------------*/
/* =========================
2.1 - Single
========================= */

/* =========================
2.2 - Multi
========================= */

/* =========================
3 - Contact Form
========================= */
.contact-form {

  #contact-switcher {
    border-bottom: 1px solid $cool-neutral-6;
    display: grid;
    gap: 2.6rem 1.3rem;
    grid-template-columns: min-content auto;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
  

    // Hide the default radio-button selector
    input[type="radio"] {
      opacity: 0;
      // position: fixed;
      width: 0;    
    }

    // Create the new unselected radio-button 
      input[type="radio"] + *::before {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      width: 2rem;
      height: 2rem;
      margin-right: 2rem;
      border-radius: 50%;
      border-style: solid;
      border-width: 0.1rem;
      border-color: gray;

    }

    // Create the new selected radio-button
    input[type="radio"]:checked + *::before {
      background: radial-gradient(green 0%, green 30%, transparent 0%, transparent);
      border-color: gray;
      transition: 250ms ease;
    }
  }

  &__radio {
    
    &__heading{
      @extend [class^="tertiary-info"];

    }
  }

  // #lead-form {
    
  //   display: grid;

  // }
}








// Form Defaults
%default-form-field-styles {
  font-weight: $global-weight-light;
  padding: 0 rem-calc(15);
}
// Reusable Variables
$default-form-field-height: rem-calc(48);
$tall-form-field-height: rem-calc(60);

@mixin default-form-field-styles() {
  height: $default-form-field-height;
}
@mixin tall-form-field-styles() {
  height: $tall-form-field-height;
}
// Backwards compatibility
@mixin rounded-input {
  @include default-form-field-styles;
}

// Submitting overlay CSS spinner
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.submitting {
  background-color: rgba($white, .666);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  text-align: center;
  margin: auto;

  .spinner {
    width: rem-calc(40);
    height: rem-calc(40);
    background-color: $medium-gray;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
    position: absolute;
    margin: auto;
    text-align: center;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    transform: translate(-50%, -50%);
  }
}
form {
  position:relative;
}
// Validation error
label {
  color: $medium-gray;

  &.error {
    color: map-safe-get($foundation-palette, alert);
    font-size: rem-calc(8);
    font-weight: $global-weight-normal;
    margin-top: rem-calc(-20);
    position: absolute;
    right: 0;
    text-transform: none;
  }
}
.input-group label.error {
  margin-top: 0;
}
select {
  // hides overflowing text
  padding-right: rem-calc(40); // (should match the right position of the select-box::before below)
  // Hack for older mozilla styling
  -moz-appearance: none;
}
textarea {
  // add icon
  @include dots-three-horizontal;
  background-size: rem-calc(65 20);
  background-position: 100% 100%;
  border-radius: rem-calc(25);
  padding-top: 1rem;
  min-height: rem-calc(70);
}
// Positioning of magnifier vs placeholder text in some search fields (contact us/industries)
[type=text].icon.search {
  padding-left: rem-calc(64);
}

#{text-inputs()},
select,
textarea {
  @extend %default-form-field-styles;
  @include default-form-field-styles();
}
.tall {
  #{text-inputs()},
  select,
  textarea {
    @include tall-form-field-styles();
  }
}
.select-box {
  position: relative;
  // Adds the separator line in the select box
  &::before {
    @include default-form-field-styles();
    content: '';
    position: absolute;
    top: 0;
    right: rem-calc(40); // (should match the right padding of the select above)
    border-left: 1px solid $light-gray;
    pointer-events: none;
  }
  // adds the arrows in the select box
  &::after {
    @include scroll-vertical-arrows;
    position: absolute;
    background-position: 100% 50%;
    background-size: rem-calc(20 20);
    right: rem-calc(12);
    top: rem-calc($default-form-field-height/3.3);
    pointer-events: none;
  }
  // Height adjustments for tall select boxes
  @at-root .tall .select-box {
    // Adjusts line height for tall select box
    &::before {
      @include tall-form-field-styles();
    }
    // Adjusts arrow vertical position for tall select boxes
    &::after {
      top: rem-calc($tall-form-field-height/3);
    }
  }
}
// Generic, reusable padded wrapper (example: apply this class to .lead-form-wrapper via Lead Form Customizations structure)
.padded-form-wrapper {
  padding: rem-calc(20 20 30);
  @include breakpoint(large) {
    padding: rem-calc(20 60 40);
  }
}
// Lead form styles
.lead-form-wrapper {
  position: relative;

  .lead-form {
    button {
      &[type='submit'] {
        margin: rem-calc(25) auto 0;
      }
    }

    // Talent Pool Form Customizations
    &.talent-pool {
      .pre-form-content {
        h2 {
          line-height: 1;
          &:after {
            width: 33%;
          }
        }
        h3 {
          font-size: 3rem;
          @include elastic-font-size($min-font: 24, $max-font: 45, $min-width: 320, $max-width: 1200);
          line-height: 1;
        }
      }
    }

  }
  .response {
    color: inherit;
    text-transform: none;

    h2 {
      margin-top: rem-calc(32);
    }
    nav {
      margin-bottom: rem-calc(32);
      text-align: center;
      float: none;

      a {
        display: inline-block;
      }
    }
    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
  .talent-panel {
    color: $medium-gray;
    text-transform: none;

    fieldset {
      margin-bottom: 1rem;
    }
    label {
      font-size: rem-calc(12);
      text-align:left;

      &>[type="checkbox"] {
        margin-bottom:0;
      }
    }
    p {
      font-size: rem-calc(18);
      font-weight: $global-weight-medium;
      margin-bottom: 1rem;
    }
    [type="text"] {
      margin-bottom: rem-calc(6);
    }
  }
}
/* Eliminates browser-specific outline for focused elements */
input, select {
  &:focus {
    outline: none;
  }
}
/* Recaptcha stuff */
.grecaptcha-logo {
  left: -186px;
  position: absolute;
  transition: left 0.25s ease-out !important;
}
.grecaptcha-badge {
  width: 70px !important;
  transition: width 0.25s ease-out !important;
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
  overflow: hidden;
  box-shadow: none !important;

  &:hover {
    transition: width 0.25s ease-out !important;
    width: 256px !important;
    .grecaptcha-logo {
      transition: left 0.25s ease-out !important;
      left: 0;
    }
  }
}

// Quick Hack for Input Groups
.input-group-label:last-child {
  border-left: 0;
  border-radius:  0 3.125rem 3.125rem 0;
}


// Reveal Modal Form Field
.modal-field-wrapper {
  width: 100%;
}
@include breakpoint(large) {
  .modal-flex-grid {
    display: flex;
    justify-content: space-around;
  }
  .modal-field-wrapper {
    width: 33%;
    &:nth-of-type(2) {
      margin-right: #{map-get($grid-column-gutter, medium)/2};
      margin-left: #{map-get($grid-column-gutter, medium)/2};
    }
  }
}