// VT Jobs cards, details, and search
.job-card {
    @extend .content-block--clickable;
    border: 0.2rem solid $secondary-green-2;
    display: block;
    max-height: 20.5rem;
    max-width: 40rem;

    @include breakpoint(desktop) {
        max-width: 55.7rem;
    }

    &__block {
        padding: 0rem 2rem;
    }

    &__title {
        @extend .h6;
        padding-top: 1.3rem;
    }

    &__location {
        @extend .tk-aktiv-grotesk;
        @extend .uppercase;
        color: $secondary-green-1;
        font-size: 1.2rem;
        letter-spacing: 1.8px;
    }

    &__posted {
        @include self() {
            @extend .tk-degular-text;
            display: block;
            font-size: 1.6rem;
            font-weight: 500;
            padding-top: 1.5rem;
            padding-bottom: 2.1rem;

            @include breakpoint(desktop) {
                padding-top: 4.5rem;
            }
        }


        &--new {
            &::before {
                background-color: $secondary-orange-2;
                border: 0.1rem solid $secondary-orange-2;
                color: $secondary-blue-1;
                content: "NEW";
                display: inline-block;
                font-size: 1.4rem;
                font-weight: 700;
                letter-spacing: 3.2px;
                padding-left: 0.5rem;
                margin-right: 1rem;
            }
        }
    }

    &:hover,
    &:focus {
        background-color: $primary-blue;
        border: 0.2rem solid $primary-blue;
        transition: background-color 0.2s ease-out;

        .job-card__title,
        .job-card__location,
        .job-card__posted {
            color: $primary-white;
            transition: color 0.2s ease-out;
        }

        .job-card__posted--new {
            color: $primary-white;
            transition: color 0.2s ease-out;

            &::before {
                background-color: $primary-white;
                border: 0.1rem solid $primary-white;
                transition: color 0.2s ease-out;
            }
        }
    }
}

// Job details
.job-hero {
    @extend .post-hero;
    padding-bottom: 3.2rem;

    @include breakpoint(desktop) {
        padding-bottom: 14.4rem;
    }

    &__job {
        padding-bottom: 4.7rem;

        @include breakpoint(desktop) {
            padding-bottom: 0;
        }
    }

    &__group {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        padding-bottom: 7.5rem;

        @include breakpoint(desktop) {
            grid-template-columns: 4fr 1fr;
        }

    }

    &__id {
        @extend .tk-degular-text;
        font-size: 2.8rem;
    }

    &__title {
        padding-bottom: 2rem;
        font-size: 4.2rem;


        @include breakpoint(desktop) {
            font-size: 8.4rem;
        }
    }

    &__location {
        @extend .uppercase;
        @extend .tk-aktiv-grotesk;
        font-size: 1.6rem;
        letter-spacing: 3.2px;
    }

    &__apply {
        @include breakpoint(desktop) {
            justify-self: end;
            padding-bottom: 2rem;
        }

        justify-self: start;

    }

    // TODO: Make post-hero-date-time and job-hero-date-time into it's own reusable component
    &__time-social {
        @extend .post-hero__time-social;
    }

    &__time-social-read-time {
        @extend .post-hero__time-social-read-time;

        time {
            &::before {
                content: "Date";
            }
        }
    }

    &__time-social-links {
        @extend .post-hero__time-social-links;
    }


}

.job-details {

    @include breakpoint(desktop) {
        width: 76.2rem;
    }

    background: none;

    h2 {
        @extend .h4;
        padding-bottom: 2.7rem;
    }

    p {
        color: $cool-neutral-1;
    }

    ul {
        @extend .article__post-list;
        margin-top: 0;

        li {
            @extend .article__post-list-item;

            .p--body-emphasis {
                color: $primary-blue;
            }
        }
    }

    &__apply {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-column-gap: 4rem;
        padding-top: 7.2rem;

        &-text {
            @extend .uppercase;
            @extend .tk-aktiv-grotesk;

            font-size: 1.4rem;
            letter-spacing: 3.2px;

            &-link {
                color: $primary-blue;
            }
        }
    }
}

// TODO: Make details-footer-date-time and blog-author-footer-date-time into it's own reusable component
.details-footer {
    @extend .blog-author-footer;

    &-social-date-time {
        @extend .blog-author-footer-social-date-time;
    }

    &-social {
        @extend .blog-author-footer-social;
    }

    &-social-media-links {
        @extend .blog-author-footer-social-media-links;
    }

    .section-heading--underline {
        margin-top: 13.3rem;
    }

    &-related-jobs {
        @include breakpoint(tablet) {
            grid-template-columns: 1fr;
        }

        @include breakpoint(desktop) {
            grid-template-columns: repeat(2, 1fr);
        }

        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 3.6rem;
        grid-row-gap: 3.6rem;
    }
}