.pagination {
  &__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  &__list-item {
    top: 50%;
    list-style: none;
    display: inline-block;

    &::before {
      content: "";
      margin: 0;
      width: 0;
    }
  }

  &__page {
    @include clear-decoration();
    padding: 1.5rem 1rem;

    &--active {
      background-color: transparent;
      border-bottom: solid 0.6rem $accessible-green;
      color: inherit;
      text-decoration: none;
      transition: background-size (500ms);
      padding: 1rem 0;
      margin-top: 0.6rem;
    }

    &--mobile-hidden {
      display: none;

      @include breakpoint(tablet){
        display: inline-block;
      }
    }
  }

  &__prev, &__next {
    @include clear-decoration();
    padding: 1.5rem 0;
  }

  &__prev {
    margin-right: 3rem;

    &::before {
      @include arrow-sym(left);
      margin-left: -2.5rem;
    }
  }

  &__next {
    margin-left: 3rem;

    &::before {
      @include arrow-sym(right);
      margin-left: 8rem;
    }
  }
}
