.services {
  &__title {
    margin-bottom: 7.6rem;
  }

  @include breakpoint(desktop) {
    .service:last-child {
      margin-bottom: 0;
    }
  }
}

.service {
  //----Mobile
  @include grid();
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 6.4rem;
  background: none;

  @include breakpoint(desktop) {
    margin-bottom: 11rem;
    column-gap: 0;

    &:hover {
      .service__heading {
        --d: 100%;
      }
    }
  }

  &__enumerator {
    @extend .h6;
    color: $secondary-orange-2;
    @include vertical-spacing(sm-6, bottom, margin);
  }

  &__images {
    @include grid();
    grid-column: 9 / 13;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 6.4rem;

    &-small {
      display: none;
    }

    [data-id="services-1"] &,
    [data-id="services-3"] & {
      &-large {
        grid-column: 1 / 5;
        grid-row: 1;
      }
      &-medium {
        grid-column: 3 / 5;
        grid-row: 2;
      }
    }

    [data-id="services-2"] & {
      &-large {
        grid-column: 1 / 5;
        grid-row: 2;
      }

      &-medium {
        grid-column: 1 / 3;
        grid-row: 1;
      }
    }

    //----Desktop
    @include breakpoint(tablet) {
      grid-column: 6 / 13;
      grid-template-columns: repeat(7, 1fr);
      row-gap: 0;

      [data-id="services-1"] & {
        align-items: center;
        grid-template-rows: none;

        &-large {
          grid-column: 1 / 5;
          grid-row: 1;
        }
        &-medium {
          grid-column: 6 / 8;
          grid-row: 1;
        }
      }

      [data-id="services-2"] & {
        grid-template-rows: repeat(12, 1fr);
        row-gap: 4.5rem;

        &-large {
          grid-column: 4 / 8;
          grid-row: 1 / 10;
        }

        &-medium {
          grid-column: 1 / 3;
          grid-row: 3 / 8;
        }

        &-small {
          margin-left: -6.5rem;
          display: inline-block;
          grid-column: 1 / 3;
          grid-row: 7 / 13;
          align-self: end;
        }
      }

      [data-id="services-3"] & {
        grid-template-rows: repeat(10, 1fr);

        &-large {
          grid-column: 1 / 5;
          grid-row: 1 / 9;
        }

        &-medium {
          grid-column: 6 / 8;
          grid-row: 7 / 11;
        }

        &-small {
          display: inline-block;
          padding-right: 4.2rem;
          grid-column: 6 / 8;
          grid-row: 2 / 5;
        }
      }
    }
  }

  &__heading__wrapper {
    margin-bottom: 2.5rem;
  }

  &__heading {
    @extend h2;
    // h5 for mobile
    font-size: 3.2rem;
    line-height: 1.125;
    background: linear-gradient($primary-green 0 0) 0 100%/100% 0.2rem no-repeat;
    @include vertical-spacing(sm-5, bottom, margin);

    @include breakpoint(desktop) {
      // h2 for desktop
      font-size: 6.8rem;
      line-height: 1.059;
      background: linear-gradient($primary-green 0 0) 0 100% / var(--d, 0)
        0.2rem no-repeat;
      transition: 0.3s;
    }
  }

  &__text-content {
    background:none;
    grid-column: 1 / 8;
    align-self: center;

    @include breakpoint("tablet") {
      grid-column: 1 / 5;
    }
  }
}
