/** TABLE OF CONTENTS
 — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — /
1 — Stat block
/// END TABLE OF CONTENTS **/

/** 1 - Stat block
------------------------------------------------------------*/
.stat {
    row-gap: 4.8rem;

    [class^=column] {
        margin: 0;
    }

    @include breakpoint(tablet) {
        margin: 7.5rem 0;
    }

    &__number {
        @extend h2;
        color: $secondary-orange-2;

        @include breakpoint(tablet) {
            margin-bottom: 1.3rem;
        }
    }

    &__detail {
        @extend .h6;

        @include breakpoint(tablet) {
            width: 90%;
        }
    }
}