/** TABLE OF CONTENTS - Cards
 — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — /
1 — Tabs Panel
2 - Tabs Section


/// END TABLE OF CONTENTS **/



/** 1 - Tabs Panel
------------------------------------------------------------*/
.tabs-panel {

  border-bottom: 1px solid $cool-neutral-4;


  // Desktop
  &__ul {
    //not sure why this is needed
    @extend .tk-degular-text;
    @extend .p--body-emphasis;

    display: none;
    list-style-type: none;
    padding: 0;

    @include breakpoint(desktop) {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      border-bottom: 1px solid $cool-neutral-4;

      &__li {
        align-items: flex-end;
        color: $secondary-blue-1;
        display: flex;
        justify-content: flex-start;

        &::before {
          content: "";
        }

        &[open],
        &:hover {
          background: linear-gradient(
            0deg,
            #6cc24a,
            #6cc24a 9%,
            transparent 0,
            transparent
          );
          color: $primary-blue;
        }
      }

      &__li a {
        display: block;
        background: none;
        list-style: none;
        padding-top: 1.4rem;
        padding-right: 2rem ;  
        padding-bottom: 1.4rem;
        padding-left: 2rem;  

        // padding: 1.4rem, 2rem;
      }

      &__li:not(:last-of-type) {
        border-right: 1px solid gray;
      }
    }

    // Mobile
  }
  &__dropdown {
    @include breakpoint(desktop) {
      display: none;
    }
  }
}


/** 1 - Tabs Section
------------------------------------------------------------*/
.tabs-section {

  &__tab {
    display: grid;
    grid-template-rows: auto 1.8rem 7.5rem;
    grid-template-columns: 1fr 2fr;
  }

  .section_heading--underline {
    grid-row: 1; 
    grid-column: 1/2;
  }
  .section-heading {
    grid-row: 1;
    grid-column: 2/3;
  }
  
  .tertiary-info {
    grid-row: 2;
    
  }

}