/** TABLE OF CONTENTS
 — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — /
1 — Paragraphs
2 — Tertiary Info
3 - Quotes
/// END TABLE OF CONTENTS **/

/** 1 - Text
------------------------------------------------------------*/
[class^="p--"] {
  @extend p;
}

.p {
  &--lead,
  &--lead-1 {
    font-size: 2.8rem;
    line-height: 1.286;
  }

  &--lead-emphasis,
  &--lead-1-emphasis {
    @extend .p--lead;
    font-weight: 600;
  }

  &--lead-2 {
    font-size: 2.4rem;
    line-height: 1.167;
  }

  &--lead-2-emphasis {
    @extend .p--lead-2;
    font-weight: 600;
  }

  &--body {
    font-size: 2rem;
    line-height: 1.4;
  }

  &--body-emphasis {
    @extend .p--body;
    font-weight: 600;
  }

  &--body-quote {
    @extend .p--body, .italic;
  }

  &--body-small {
    font-size: 1.8rem;
    line-height: 1.444;
  }

  &--body-small-emphasis {
    @extend .p--body-small;
    font-weight: 600;
  }

  &--body-extra-small {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  &--body-extra-small-emphasis {
    @extend .p--body-extra-small;
    font-weight: 600;
  }
}

/** 2 - Tertiary Info
------------------------------------------------------------*/
[class^="tertiary-info"] {
  @extend .tk-aktiv-grotesk;
  @extend .uppercase;

  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  line-height: 1.286;
}

.tertiary-info {
  &--large {
    font-size: 1.6rem;
    line-height: 1.25;
  }

  &--small {
    font-size: 1.2rem;
    line-height: 1.333;
  }
}

/** 3 - Quotes
------------------------------------------------------------*/
%decorative-quote {
  content: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3181 9.294C11.3181 13.116 13.2921 15.636 16.2741 15.636C18.4161 15.636 19.8021 14.25 19.8021 12.024C19.8021 10.722 19.4661 10.176 18.8781 9.588C17.5761 8.286 14.8041 9.504 14.8041 6.984C14.8041 4.758 17.0721 3.078 19.1721 3.078C19.5501 3.078 19.7601 2.868 19.7601 2.49V1.44C19.7601 1.02 19.5081 0.767998 18.8781 0.767998C15.4761 0.767998 11.3181 4.128 11.3181 9.294ZM0.188078 9.294C0.188078 13.116 2.16208 15.636 5.14408 15.636C7.28608 15.636 8.67208 14.25 8.67208 12.024C8.67208 10.722 8.33608 10.176 7.74808 9.588C6.44608 8.286 3.67408 9.504 3.67408 6.984C3.67408 4.758 5.94208 3.078 8.04208 3.078C8.42008 3.078 8.63008 2.868 8.63008 2.49V1.44C8.63008 1.02 8.37808 0.767998 7.74808 0.767998C4.34608 0.767998 0.188078 4.128 0.188078 9.294Z' fill='%23509E2F'/%3E%3C/svg%3E%0A");
  height: 2rem;
  width: 2rem;
}
