<div class="section--bg-prim-blue">

    <div class="job-hero section__inner">
        <span class="job-hero__id">#172725</span>
        <div class="job-hero__group">
            <div class="job-hero__job">

                <h1 class="job-hero__title">Sr. Creative Director</h1>
                <span class="job-hero__location">Remote • Detroit, MI</span>
            </div>
            <span class="job-hero__apply"><a class="button--large-primary" target="_blank" href="#"
                    title="Apply Now">Apply Now</a></span>
        </div>

        <div class="job-hero__time-social">
            <div class="job-hero__time-social-read-time">
                <time>09.22.21</time>
            </div>
            <div class="job-hero__social-icons">
                <a href="https://www.linkedin.com/company/aquent" title="LinkedIn" target="_blank"
                    class="job-hero__social-icon__link--linkedin"></a>
                <a href="https://twitter.com/Vitamin T" title="Twitter" target="_blank" class="job-hero__social-icon__link--twitter"></a>
                <a href="https://www.facebook.com/aquent/" title="Facebook" target="_blank" class="job-hero__social-icon__link--facebook"></a>
            </div>
        </div><!-- .job-hero__time-social -->
    </div><!-- .job-hero .section__inner -->

</div><!-- .section--bg-prim-blue -->

<div class="section--bg-white">
    <div class="section__inner job-details">

        <h2>Overview</h2>
        <p>Our client in Detroit is seeking an in-house Sr. Creative Director to join their team!</p>
        <p>This position is responsible for providing strategic brand and creative leadership on all content and
            execution, including packaging, digital and traditional advertising, website product and brand content,
            brand creative expression, and sales enablement materials. It also includes direct management of the
            creative resources across the organization, talent development, and overall creative capabilities of the
            company. It works with cross functional partners and stakeholders to ensure creative needs are being
            delivered with quality including working with the senior manager of creative operations, the head of
            ecommerce, and the head of marketing communications.</p>

        <h2>Roles & responsibilities</h2>
        <ul>
            <li><span class="p--body-emphasis">Adaptable and able to work under pressure –</span> is flexible, maintains
                effectiveness by adjusting behavior, work routines, and habits to meet a goal and/or changing
                circumstances. Is seen as balanced despite the conflicting demands of the situation</li>
            <li><span class="p--body-emphasis">Building collaborative relationships –</span> ability to establish
                credibility and develop, maintain, and strengthen partnerships with others inside and outside the
                organization</li>
            <li><span class="p--body-emphasis">External resource management –</span> ability to manage agency partners
                and contractors to meet design and quality standards, deadlines, and budget requirements</li>
        </ul>
        <p>Start by determining where your team is falling short. When projects miss the mark, what are the most
            common
            skills needed to change those outcomes? Take a look at your goals. What additional expertise is required
            to
            achieve them? Once you have an overall view of the business needs, it’s time to take it to the
            individual
            level.</p>

        <p>If you’re struggling to help someone on your team see that the promotion and compensation increase they
            want does not match their current skills, ask more questions. A great question to ask staff was posed by
            a leader in one of our roundtable discussions: “What are your skills today compared to [fill in the
            blank] years ago?”</p>

        <h2>Education & experience</h2>
        <ul>
            <li>Bachelor’s degree in Marketing, Communications, Graphic Design, or equivalent experience</li>
            <li>10+ years of work experience in a creative, brand development, design or related marketing roles</li>
            <li>10+ years brand development; comfortable with creating brand identities from the ground up</li>
            <li>5+ years in graphic design with a strong digital portfolio</li>
            <li>5+ years in art direction or creative role for websites and ecommerce</li>
            <li>5+ years responsive email design experience</li>
        </ul>


        <h2>Working conditions</h2>
        <ul>
            <li>Fast paced, entrepreneurial environment</li>
            <li>Working remote during COVID-19 with occasional in-office work</li>
            <li>This role can be performed remotely while there is a preference for candidates that can work from the
                Detroit Metropolitan Area.</li>
            <li>Occasional travel may be required with likely total travel to be less than 15%</li>
        </ul>
        <div class="job-details__apply">
            <a href="#" class="button--large-primary" title="Apply">Apply</a>
            <p class="job-details__apply-text">
                <a herf="#" class="job-details__apply-text-link">Back to Search Results</a>
            </p>
        </div><!-- .job-details__apply -->

    </div><!-- .section__inner .job-details -->

    <div class="section--bg-white section__inner details-footer">
        <div class="details-footer__social">
            <div class="details-footer__social-date-time">
                <time datetime="2021-06-02">06.02.2021</time>
            </div><!-- .details-footer__social-date-time -->
            <div class="details-footer__social-media-links">
                <a href="https://www.linkedin.com/company/aquent" title="LinkedIn" target="_blank"
                    class="social-icon--linkedin"></a>
                <a href="https://twitter.com/Vitamin T" title="Twitter" target="_blank" class="social-icon--twitter"></a>
                <a href="https://www.facebook.com/aquent/" title="Facebook" target="_blank" class="social-icon--facebook"></a>
            </div><!-- .details-footer__social-media-links -->
        </div><!-- .details-footer-social -->

        <h2 class="section-heading--underline">Related</h2>

        <div class="details-footer-related-jobs">
            <a href="#" class="job-card">
                <div class="job-card__block">
                    <h3 class="job-card__title">Graphic Designer / Jr. Art Director</h3>
                    <span class="job-card__location">Remote (EST) • Boston, MA</span>
                    <time class="job-card__posted--new" itemprop="datePublished" datetime="2021-06-10">Posted 1 hour ago</time>
                </div><!-- .job-card__block -->

            </a><!-- .job-card -->

            <a href="#" class="job-card">
                <div class="job-card__block">
                    <h3 class="job-card__title">Graphic Designer / Jr. Art Director</h3>
                    <span class="job-card__location">Remote (EST) • Boston, MA</span>
                    <time class="job-card__posted--new" itemprop="datePublished" datetime="2021-06-10">Posted 1 hour ago</time>
                </div><!-- .job-card__block -->

            </a><!-- .job-card -->

            <a href="#" class="job-card">
                <div class="job-card__block">
                    <h3 class="job-card__title">Graphic Designer / Jr. Art Director</h3>
                    <span class="job-card__location">Remote (EST) • Boston, MA</span>
                    <time class="job-card__posted--new" itemprop="datePublished" datetime="2021-06-10">Posted 1 hour ago</time>
                </div><!-- .job-card__block -->

            </a><!-- .job-card -->

            <a href="#" class="job-card">
                <div class="job-card__block">
                    <h3 class="job-card__title">Graphic Designer / Jr. Art Director</h3>
                    <span class="job-card__location">Remote (EST) • Boston, MA</span>
                    <time class="job-card__posted--new" itemprop="datePublished" datetime="2021-06-10">Posted 1 hour ago</time>
                </div><!-- .job-card__block -->

            </a><!-- .job-card -->
        </div><!-- .details-footer-related-jobs -->

    </div><!-- .section--bg-white .section__inner .details-footer -->
</div><!-- .section--bg-white -->