<div class="section--bg-white">
  <div class="section__inner">

    <div class="leadership-bio">

      <div class="leadership-bio__heading-wrapper">
        <h1 class="leaderhsip-bio__heading-main">Mark Brim</h1>
        <p class="leadership-bio__subheading">President</p>
      </div>  <!-- .leadership-bio__heading-wrapper -->

      <div class="leadership-bio__content-wrapper">
        <img
        class="leadership-bio__image"
        src="https://via.placeholder.com/762x508"
        role="presentation"
        alt=""
      />
        <h2 class="leadership-bio__heading--secondary">Hi, I’m Mark.</h2>
        <p class="leadership-bio__text">As President of Vitamin T, I’m responsible for the business growth of this key division of Aquent—helping clients find their next great hire, helping talent discover amazing opportunities, and developing high-performance teams. Previously, I was the Regional Vice President for Vitamin T's Central Region leading the team to success with key clients. I’m an altruistic, creative, and analytical business professional who leads from the front, and my success spans over 20 years within diverse industries across North America.</p>
      </div> <!-- .leadership-bio__content-wrapper -->

      <div class="leadership-bio__contact-wrapper">
        <h3 class="leadership-bio__heading-tertiary">Connect with Mark:</h3>
        <div class="leadership-bio__social-icons">

        </div>  <!-- /.leadership-bio__social-icons -->

      </div> <!-- /.leadership-bio__contact-wrapper --> 
    </div> <!-- /.leadership-bio -->
  </div> <!-- /.section__inner -->
</div> <!-- /.section--bg-white -->
