<div class="section--bg-white">

  <div class="leadership-bio">

    <div class="section-bg--prim-blue">
      <header class="leadership-bio__header">
        <h1 class="leadership-bio__heading--main">Mark Brim</h1>
        <p class="leadership-bio__subheading">President</p>
      </header> <!-- .leadership-bio__heading-wrapper -->
    </div>

    <div class="section--bg-white">
      <div class="section__inner">

        <main class="leadership-bio__content">
          <img class="leadership-bio__image" src="https://via.placeholder.com/762x508" role="presentation" alt="" />
          <h2 class="leadership-bio__heading--secondary">Hi, I’m Mark.</h2>
          <div class="leadership-bio__copy">
            <p>As President of Vitamin T, I’m responsible for the business growth of this key division of Aquent—helping
              clients find their next great hire, helping talent discover amazing opportunities, and developing
              high-performance teams. Previously, I was the Regional Vice President for Vitamin T's Central Region
              leading
              the team to success with key clients. I’m an altruistic, creative, and analytical business professional
              who
              leads from the front, and my success spans over 20 years within diverse industries across North America.
            </p>
          </div> <!-- .leadership-bio__copy -->
        </main> <!-- .leadership-bio__content-wrapper -->

        <div class="leadership-bio__contact">
          <h3 class="leadership-bio__heading-tertiary">Connect with Mark:</h3>
          <ul class="leadership-bio__social-icons">
            <li class="leadership-bio__social-icon"><a class="leadership-bio__social-icon--linkedin" href="#"
                target="_blank"></a></li>
            <li class="leadership-bio__social-icon"><a class="leadership-bio__social-icon--twitter" href="#"
                target="_blank"></a></li>
            <li class="leadership-bio__social-icon"><a class="leadership-bio__social-icon--instagram" href="#"
                target="_blank"></a></li>
            <li class="leadership-bio__social-icon"><a class="leadership-bio__social-icon--facebook" href="#"
                target="_blank"></a></li>
          </ul> <!-- /.leadership-bio__social-icons -->
        </div> <!-- /.leadership-bio__contact-wrapper -->

      </div> <!-- /.section__inner -->
    </div> <!-- /.section--bg-white -->
  </div> <!-- /.leadership-bio -->
  
</div> <!-- /.section--bg-white -->