<div class="section--bg-white section__inner">

    <a href="#" class="job-card">
        <div class="job-card__block">
            <h3>Graphic Designer / Jr. Art Director</h3>
            <span>Remote (EST) • Boston, MA</span>
            <time>Posted 1 hour ago</time>
        </div><!-- .job-card__block -->

    </a><!-- .job-card -->

</div><!-- .section--bg-white. -->