<div class="section--bg-white demo-section section__inner">

  <article class="content-block">
    <div class="content-block__upper">
      <img class="content-block__image" src="https://via.placeholder.com/330x185" role="presentation" alt="" />
    </div><!-- .content-block__upper -->

    <div class="content-block__lower">
      <h4 class="content-block__title">Mark Brim</h4>
      <p class="content-block__subtitle">President</p>
      <p class="content-block__text"><a href="#">Full Bio</a></p>
    </div><!-- .content-block__lower -->
  </article><!-- .content-block--clickable -->

</div><!-- .section--bg-white.demo-section -->