<div class="section--bg-prim-blue">

  <div class="section__inner">

    <div class="content-slider" aria-label="gallery">

      <div class="content-slider__controls">
        <a href="" aria-label="previous" class="content-slider__controls-left"></a>
        <a href="" aria-label="next" class="content-slider__controls-right"></a>
      </div>

      <div class="content-slider__cards-list">
        <div class="content-slider__block">

          <div class="quote">

            <blockquote class="quote__text">
              <p>They know talent and clients as individuals. They always match us to the job. No one is just a body,
                not just
                the other side of the email. I feel like they’re always there for us.</p>
            </blockquote>

            <cite class="quote--attribution">
              <span class="quote--name">John Chuang</span>
              <span class="quote--title">Ceo, Aquent</span>
            </cite>

          </div> <!-- /.quote -->

        </div> <!-- .content-slider__block -->
        <div class="content-slider__block">

          <div class="quote">

            <blockquote class="quote__text">
              <p>They know talent and clients as individuals. They always match us to the job. No one is just a body,
                not just
                the other side of the email. I feel like they’re always there for us.</p>
            </blockquote>

            <cite class="quote--attribution">
              <span class="quote--name">John Chuang</span>
              <span class="quote--title">Ceo, Aquent</span>
            </cite>

          </div> <!-- /.quote -->

        </div> <!-- .content-slider__block -->
        <div class="content-slider__block">

          <div class="quote">

            <blockquote class="quote__text">
              <p>They know talent and clients as individuals. They always match us to the job. No one is just a body,
                not just
                the other side of the email. I feel like they’re always there for us.</p>
            </blockquote>

            <cite class="quote--attribution">
              <span class="quote--name">John Chuang</span>
              <span class="quote--title">Ceo, Aquent</span>
            </cite>

          </div> <!-- /.quote -->

        </div> <!-- .content-slider__block -->
        <div class="content-slider__block">

          <div class="quote">

            <blockquote class="quote__text">
              <p>They know talent and clients as individuals. They always match us to the job. No one is just a body,
                not just
                the other side of the email. I feel like they’re always there for us.</p>
            </blockquote>

            <cite class="quote--attribution">
              <span class="quote--name">John Chuang</span>
              <span class="quote--title">Ceo, Aquent</span>
            </cite>

          </div> <!-- /.quote -->

        </div> <!-- .content-slider__block -->
        <div class="content-slider__block">



        </div> <!-- .content-slider__block -->
      </div> <!-- .content-slider__cards-list -->
    </div><!-- content-slider -->
  </div><!-- .section__inner -->
</div><!-- .section--bg-white.demo-section -->