<div class="section--bg-white demo-section">
  <article class="content-block">
    <div class="content-block__upper">
      <img
        class="content-block__image"
        src="https://via.placeholder.com/535x300"
        role="presentation"
        alt=""
      />
      <time class="content-block__date" datetime="2021-07-10">
        <span class="content-block__date__month">Jun</span>
        <span class="content-block__date__day">10</span>
      </time>
    </div><!-- .content-block__upper -->

    <div class="content-block__lower">
      <p class="content-block__subtitle">Digitalks Webinar</p>
      <h4 class="content-block__title"><a class="anchor" href="#">RSVP: This is
          featured event that is topical and relevant.</a></h4>
      <p class="content-block__text">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor.</p>
      <a class="button--large-primary content-block__button">
        Learn More
      </a>
    </div><!-- .content-block__lower -->
  </article><!-- .content-block -->
</div>