<div class="section--bg-white demo-section">
    <div class="section__inner">
        <p>This paragraph contains a
            <a class="" href="#"> paragraph link</a>. It is
            meant to be used in paragraph text and everywhere else where there are no
            indicators that a link is present.
        </p>

    </div>
</div>

<div class="section--bg-prim-blue demo-section">
    <div class="section__inner">
        <p>This paragraph contains a
            <a class="" href="#"> paragraph link</a>. It is
            meant to be used in paragraph text and everywhere else where there are no
            indicators that a link is present.
        </p>
    </div>
</div>

<div class="section--bg-sec-blue demo-section">
    <div class="section__inner">
        <p>This paragraph contains a
            <a class="" href="#"> paragraph link</a>. It is
            meant to be used in paragraph text and everywhere else where there are no
            indicators that a link is present.
        </p>
    </div>
</div>
<div class="section--bg-green demo-section">
    <div class="section__inner">
        <p>This paragraph contains a
            <a class="" href="#"> paragraph link</a>. It is
            meant to be used in paragraph text and everywhere else where there are no
            indicators that a link is present.
        </p>
    </div>
</div>

<div class="section--bg-sec-green demo-section">
    <div class="section__inner">
        <p>This paragraph contains a
            <a class="" href="#"> paragraph link</a>. It is
            meant to be used in paragraph text and everywhere else where there are no
            indicators that a link is present.
        </p>
    </div>
</div>