<div class="section--bg-white">
  <div class="section__inner">
    <ul>
      <li>This is list item 1</li>
      <li>This is list item 2</li>
      <li>This is list item 3</li>
      <li>This is list item 4</li>
      <li>This is list item 5</li>
    </ul>
  </div>
</div>