<div class="section--bg-white">
  <div class="section__inner">
    <p>Bacon ipsum dolor amet bresaola <strong>pork leberkas doner</strong> chuck bacon boudin, brisket jerky rump chicken short ribs picanha frankfurter.</p>
  </div>
</div>