<div class="section--bg-white">
  <div class="section__inner">
    <figure class="quote">

      <blockquote class="quote__text">
        <p>They know talent and clients as individuals. They always match us to the job. No one is just a body, not just
          the other side of the email. I feel like they’re always there for us.</p>
      </blockquote>

      <figcaption class="quote__author">
        <span class="quote__author__name">Lauri M.</span>
        <span class="quote__author__title">Writer & Branding Consultant</span>
      </figcaption>

    </figure> <!-- /.quote -->
  </div> <!-- /.section__inner -->
</div>