<div class="section--bg-white">
  <div class="section__inner">
    <div class="quote">

      <blockquote class="quote__text">
        <p>They know talent and clients as individuals. They always match us to the job. No one is just a body, not just
          the other side of the email. I feel like they’re always there for us.</p>
      </blockquote>

      <cite class="quote--attribution">
        <span class="quote--name">John Chuang</span>
        <span class="quote--title">Ceo, Aquent</span>
      </cite>

    </div> <!-- /.quote -->
  </div> <!-- /.section__inner -->
</div>