<div class="section--bg-white">
  <article class="quote__single section__inner">

    <div class="quote__single__image">
      <picture>
        <source srcset="https://via.placeholder.com/286x335" media="(min-width: 640px)">
        <source srcset="https://via.placeholder.com/85x116" media="(min-width: 320px)">
        <img src="https://" role="presentation" alt="">
      </picture>
    </div>

    <blockquote class="quote__single__text">
      <h4>Time’s up for talk—we need to take action.</h4>
    </blockquote>

    <div class="quote__single__author">
      <span class="quote__single__author__name">John Chuang</span>
      <span class="quote__single__author__title">Ceo, Aquent</span>
    </div>
  </article>
</div>
