<div class="section-bg-prim-blue">
  <div class="quote__single section__inner">
    <div class="quote__single__content">
      <div class="quote__single__content__text">
        <p>{{{ quote.content }}}</p>
      </div>
      <div class="quote__single__content__author">
        <p>{{{ quote.author }}}</p>
      </div>
    </div>
  </div>
</div>