<div class="section--bg-prim-blue">
  <div class="content-list section__inner">
    <h2 class="content-list__headline">Where we're at today.</h2>
    <div class="columns">
      <p>Because we don’t manufacture any goods, our carbon footprint is largely
        driven by office utilities, employee commuting, business travel, and
        technology systems.</p>

      <p>Taking these factors into account and using the
        <a
          href="https://www.epa.gov/climateleadership/scope-1-and-scope-2-inventory-guidance"
        >EPA guidelines for calculating</a>
        carbon generation, we’ve calculated our company’s global carbon
        footprint (including internal staff and talent) for 2019, 2020, and 2021
        (projected):</p>

      <div class="content-list">
        <dl class="stat-detail">
          <dt class="stat-detail__stat">
            <span class="stat-detail__heading">2019</span>
            <div class="stat-detail__stat-description">
              <span class="stat-detail__subheading">Benchmark</span>
            </div>
            <hr class="stat-detail__connector" />
          </dt>
          <dd class="content-block">
            <div class="themed-text">We generated almost
              <span class="stat-detail__text-highlighted">9,000 tons</span>
              of carbon. A substantial portion of this number is due to our
              staff and talent commuting to offices.</div>
          </dd><!-- .content-block -->
        </dl><!-- .stat-detail -->

        <dl class="stat-detail">
          <dt class="stat-detail__stat">
            <span class="stat-detail__heading">2020</span>
            <div class="stat-detail__stat-description">
              <span class="stat-detail__subheading">88% Carbon Reduction</span>
              <span class="stat-detail__attribute">Since 2019</span>
            </div>
            <hr class="stat-detail__connector" />
          </dt>
          <dd class="content-block">
            <div class="themed-text">A pivotal year, with COVID forcing us to
              move all our staff and talent to work remotely, we generated just
              over
              <span class="stat-detail__text-highlighted">1,100 tons</span>
              of carbon.</div>
          </dd><!-- .content-block -->
        </dl><!-- .stat-detail -->

        <dl class="stat-detail">
          <dt class="stat-detail__stat">
            <span class="stat-detail__heading">2021</span>
            <div class="stat-detail__stat-description">
              <span class="stat-detail__subheading">96% Carbon Reduction</span>
              <span class="stat-detail__attribute">Since 2019</span>
            </div>
            <hr class="stat-detail__connector" />
          </dt>
          <dd class="content-block">
            <div class="themed-text">This year, we estimate our carbon footprint
              will be approximately
              <span class="stat-detail__text-highlighted">360 tons</span>
              as we let go of physical offices and became a
              <a
                href="https://aquent.com/news/aquent-goes-100-percent-virtual"
              >virtual-first workplace</a>.</div>
          </dd><!-- .content-block -->
        </dl><!-- .stat-detail -->
      </div>

      <p>COVID created many changes. In this case, they were positive changes.
        Moving our staff and talent to work remotely, we saw the impact that can
        have on our carbon footprint as well as our clients’. This sparked the
        drive to make even more lasting changes to how we work.</p>
    </div>
  </div><!-- .content-list -->
</div>