<div class="section--bg-white demo-section">

<div class="section__inner">

  <nav class="tabs-panel">

    <select class="tabs-panel__dropdown">
    
      <option class=""><a href="#">Content & Writing</a></li>
      <option class=""><a href="#">Creative</a></li>
      <option class="" open><a href="#">Digital Accessibility</a></li>
      <option class=""><a href="#">Experience Design</a></li>
      <option class=""><a href="#">Gaming</a></option>
      <option class=""><a href="#">Marketing</a></option>
      <option class=""><a href="#">Tech</a></option>
    </select>
  
    <ul class="tabs-panel__ul">

      <li class="tabs-panel__ul__li"><a href="#">Content & Writing</a></li>
      <li class="tabs-panel__ul__li"><a href="#">Creative</a></li>
      <li class="tabs-panel__ul__li" open><a href="#">Digital Accessibility</a></li>
      <li class="tabs-panel__ul__li"><a href="#">Experience Design</a></li>
      <li class="tabs-panel__ul__li"><a href="#">Gaming</a></li>
      <li class="tabs-panel__ul__li"><a href="#">Marketing</a></li>
      <li class="tabs-panel__ul__li"><a href="#">Tech</a></li>
    </ul>
  </nav>

  <section>

  </section>
</div> <!-- .section-inner -->
</div><!-- .section--bg-white.demo-section -->