

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/preview.css">
    <link media="all" rel="stylesheet" href="../../css/dist/styles.css"> 
    <title>Preview Layout</title>
</head>

<body>
  <div class="yield">
    <blockquote>
  <p>Bacon ipsum dolor amet ground round swine buffalo, picanha landjaeger ball tip sirloin pork jerky kevin pork chop tri-tip rump tenderloin shankle.</p>

  <cite>James Tiberius Kirk; captain, U.S.S. Enterprise</cite>
</blockquote>
  </div><!-- .yield -->

  <script src="../../js/main.js"></script>
</body>
</html>
