

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/preview.css">
    <link media="all" rel="stylesheet" href="../../css/dist/styles.css"> 
    <title>Preview Layout</title>
</head>

<body>
  <div class="yield">
    <div class="section--bg-white">
    <div class="grid-col-content__three section__inner">

        <a href="#" class="content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/355/180">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/268/160">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/268/160" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h3 class="content-block__title anchor-primary h6">
                    Using your UX skills to architect your career.
                </h3>
                <div class="content-block__blog-author-date">
                    <span class="content-block__author">By Mags Hanley</span>
                    <time class="content-block__date-blog" itemprop="datePublished" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text-tag">Managing People, Managing Freelancers</p>

            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--blog -->


        <a href="#" class="content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/355/460">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/268/392">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/268/392" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h3 class="content-block__title anchor-primary h6">
                    Why Diversity Is Crucial for Decision Making, Creativity and the Success of Your Teams
                </h3>
                <div class="content-block__blog-author-date">
                    <span class="content-block__author">By Craig Badings</span>
                    <time class="content-block__date-blog" itemprop="datePublished" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text-tag">Communication, Managing People, Remote Work, Operations</p>

            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--blog -->

        <a href="#" class="content-block--blog">
            <div class="content-block__upper-blog">
                <picture class="post-image">
                    <source media="(max-width: 799px)" srcset="https://www.fillmurray.com/g/355/180">
                    <source media="(min-width: 800px)" srcset="https://www.fillmurray.com/g/268/160">
                    <img class="content-block__image" src="https://www.fillmurray.com/g/268/160" role="presentation"
                        alt="" />
                    <source>
                </picture>
            </div><!-- .content-block__upper-blog -->
            <div class="content-block__lower-blog">
                <h3 class="content-block__title anchor-primary h6">
                    Ageism is alive and well.
                </h3>
                <div class="content-block__blog-author-date">
                    <span class="content-block__author">By Susie Hall</span>
                    <time class="content-block__date-blog" itemprop="datePublished" datetime="2021-06-10"><span
                            class="content-block__date-month-day-year">06.02.21</span></time>
                </div>
                <p class="content-block__blog-text-tag">Compensation, Salary Data, New & Trending, Social Issues</p>
            </div><!-- .content-block__lower-blog -->
        </a><!-- .content-block--blog -->

    </div> <!-- .three-col-content -->
</div>
  </div><!-- .yield -->

  <script src="../../js/main.js"></script>
</body>
</html>
