

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/preview.css">
    <link media="all" rel="stylesheet" href="../../css/dist/styles.css"> 
    <title>Preview Layout</title>
</head>

<body>
  <div class="yield">
    <div class="section--bg-prim-blue">

    <div class="columns--three section__inner">

        <div class="column--left">
            <span class="stat__number">52%</span>
            <span class="stat__detail">Identify as female</span>
        </div>

        <div class="column--center">
            <span class="stat__number">41%</span>
            <span class="stat__detail">Identify as BIPOC</span>
        </div>

        <div class="column--right">
            <span class="stat__number">13%</span>
            <span class="stat__detail">Identify LGBTQIA+</span>
        </div>
    </div>

</div> 
  </div><!-- .yield -->

  <script src="../../js/main.js"></script>
</body>
</html>
