

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/preview.css">
    <link media="all" rel="stylesheet" href="../../css/dist/styles.css"> 
    <title>Preview Layout</title>
</head>

<body>
  <div class="yield">
    <div class="section--bg-white">
  <div class="section__inner">
    <div class="columns--two">
      <a href="#" title="Learn more about 2022 Salary Guide" class="content-block--clickable">
        <div class="content-block__upper">
          <img src="https://via.placeholder.com/535x300.png?text=.content-block--clickable"
            class="content-block__image">
        </div>
        <div class="content-block__lower">
          <p class="content-block__subtitle">.content-block--clickable</p>
          <div class="content-block__title">Anywhere you click registers as a link</div>

          <div class="content-block__text">
            <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum explicabo reiciendis, reprehenderit
                praesentium veritatis iusto repellendus dolores aliquid placeat voluptatum molestias perspiciatis vel
                rerum, rem fugit quis voluptates similique! Quam.</span></p>
          </div>

          <div class="button--medium-primary content-block__button" aria-hidden="true">
            GET THE REPORT
          </div>
        </div>
      </a>
      <article class="content-block">
        <div class="content-block__upper">
          <img class="content-block__image" src="https://via.placeholder.com/535x300?text=.content-block"
            role="presentation" alt="" />
        </div><!-- .content-block__upper -->
        <div class="content-block__lower">
          <p class="content-block__subtitle">.content-block</p>
          <h4 class="content-block__title">Only the CTA is a link</h4>
          <p class="content-block__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique quae, in
            quis rem exercitationem nam aspernatur, consectetur tempora sint esse autem laborum ullam suscipit quaerat
            placeat dolore nesciunt nisi vel?
          </p>
          <div class="button--medium-primary content-block__button">Learn More</div>
        </div><!-- .content-block__lower -->
      </article>
      <article class="content-block">
        <div class="content-block__upper">
          <img class="content-block__image" src="https://via.placeholder.com/535x300?text=.content-block"
            role="presentation" alt="" />
        </div><!-- .content-block__upper -->
        <div class="content-block__lower">
          <p class="content-block__subtitle">.content-block</p>
          <h4 class="content-block__title">Only the CTA is a link</h4>
          <p class="content-block__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique quae, in
            quis rem exercitationem nam aspernatur, consectetur tempora sint esse autem laborum ullam suscipit quaerat
            placeat dolore nesciunt nisi vel?
          </p>
          <div class="button--medium-primary content-block__button">Learn More</div>
        </div><!-- .content-block__lower -->
      </article>
      <a href="#" title="Learn more about 2022 Salary Guide" class="content-block--clickable">
        <div class="content-block__upper">
          <img src="https://via.placeholder.com/535x300.png?text=.content-block--clickable"
            class="content-block__image">
        </div>
        <div class="content-block__lower">
          <p class="content-block__subtitle">.content-block--clickable</p>
          <div class="content-block__title">Anywhere you click registers as a link</div>

          <div class="content-block__text">
            <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum explicabo reiciendis, reprehenderit
                praesentium veritatis iusto repellendus dolores aliquid placeat voluptatum molestias perspiciatis vel
                rerum, rem fugit quis voluptates similique! Quam.</span></p>
          </div>

          <div class="button--medium-primary content-block__button" aria-hidden="true">
            GET THE REPORT
          </div>
        </div>
      </a>
    </div><!-- .columns--two .section__inner-->
  </div><!-- .section__inner-->
</div><!-- .section--bg-white -->
  </div><!-- .yield -->

  <script src="../../js/main.js"></script>
</body>
</html>
