

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/preview.css">
    <link media="all" rel="stylesheet" href="../../css/dist/styles.css"> 
    <title>Preview Layout</title>
</head>

<body>
  <div class="yield">
    <div class="section--bg-white section__inner">

    <a href="#" class="job-card">
        <div class="job-card__block">
            <h3 class="job-card__title">Graphic Designer / Jr. Art Director</h3>
            <span class="job-card__location">Remote (EST) • Boston, MA</span>
            <time class="job-card__posted--new" itemprop="datePublished" datetime="2021-06-10">Posted 1 hour ago</time>
        </div><!-- .job-card__block -->

    </a><!-- .job-card -->

</div><!-- .section--bg-white .section__inner -->
  </div><!-- .yield -->

  <script src="../../js/main.js"></script>
</body>
</html>
