

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/preview.css">
    <link media="all" rel="stylesheet" href="../../css/dist/styles.css"> 
    <title>Preview Layout</title>
</head>

<body>
  <div class="yield">
    <dl>
  <dt>This is term 1</dt>
  <dd>This is the definition for term 1</dd>
  <dt>This is term 2</dt>
  <dd>This is the definition for term 2</dd>
  <dt>This is term 3</dt>
  <dd>This is the definition for term 3</dd>
  <dt>This is term 4</dt>
  <dd>This is the definition for term 4</dd>
  <dt>This is term 5</dt>
  <dd>This is the definition for term 5</dd>
  <dd>This is an alternate definition for term 5</dd>
</dl>
  </div><!-- .yield -->

  <script src="../../js/main.js"></script>
</body>
</html>
