

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/preview.css">
    <link media="all" rel="stylesheet" href="../../css/dist/styles.css"> 
    <title>Preview Layout</title>
</head>

<body>
  <div class="yield">
    <div class="section--bg-white">
  <div class="section__inner pagination">
    <ul class="tertiary-info pagination__list" aria-label="Pagination">
      <li class="pagination__list-item pagination__prev">
        Prev<span class="show-for-sr">Previous page</span></li>
      <li class="pagination__list-item pagination__page--active"><span
          title="Page ${i} of ${numPages}"
          aria-label="Page ${i} of ${numPages}"
          class="pagination__page"
        >01</span></li>
      <li class="pagination__list-item"><a
          href="#"
          title="Page 2 of 5"
          aria-label="Page 2 of 5"
          class="pagination__page"
        >02</a></li>
      <li class="pagination__list-item"><a
          href="#"
          title="Page 3 of 5"
          aria-label="Page 3 of 5"
          class="pagination__page"
        >03</a></li>
      <li class="pagination__list-item pagination__page--mobile-hidden"><a
          href="#"
          title="Page 4 of 5"
          aria-label="Page 4 of 5"
          class="pagination__page"
        >04</a></li>
      <li class="pagination__list-item"><a
          href="#"
          aria-label="Next page"
          title="Next page"
          class="pagination__next"
        >Next</a><span class="show-for-sr">Next page</span></li>
    </ul>
  </div>
</div>
  </div><!-- .yield -->

  <script src="../../js/main.js"></script>
</body>
</html>
