

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/preview.css">
    <link media="all" rel="stylesheet" href="../../css/dist/styles.css"> 
    <title>Preview Layout</title>
</head>

<body>
  <div class="yield">
    
<section class="section--bg-white">
    <div class="section__inner">
        <div id="lead-form-wrapper" class="lead-form-wrapper form-gray">
            <div class="submit-overlay" title="Please wait while the form submits..."></div>

            <form id="lead-form" class="lead-form lead-form-builder">

                <div class="select-wrapper">
                    <input type="hidden" data-leadfield="priority" name="lead_priority" value="">

                    <label class="required show-for-sr" for="status-1">I am looking for...</label>
                    <select name="person_status" data-leadfield="status" id="status-1" class="" required="">
                        <option value="">I am looking for...</option>
                        <option data-priority="1" value="Contact">To Hire Someone</option>
                        <option data-priority="3" value="Talent">For a job</option>
                    </select>
                </div>

                <div id="contact-form-fields" class="contact-form-fields">
                    <div>
                        <input type="hidden" name="person_first_name" value="" data-name-part="first">
                        <input type="hidden" name="person_surname" value="" data-name-part="last">

                        <label class="show-for-sr" for="fullname">Full Name</label>
                        <input type="text" data-name-split="true" name="fullname" class="fullname" id="fullname" placeholder="Full Name" required>
                    </div>

                    <div>
                        <label class="show-for-sr" for="email">Work Email</label>
                        <input data-leadfield="email" id="email" class="email" name="email" type="email" placeholder="Work Email" required>
                    </div>

                    <div>
                        <label class="show-for-sr" for="main_phone">Work Phone</label>
                        <input data-leadfield="phone" name="phone_number" id="main_phone" type="tel" class="main_phone" placeholder="Work Phone">
                    </div>

                    <div>
                        <label class="show-for-sr" for="company">Company</label>
                        <input name="company_name" id="company" type="text" class="contact-only" placeholder="Company" required>
                    </div>

                    <div>
                        <label class="show-for-sr" for="title">Title</label>
                        <input name="person_title" id="title" type="text" class="title" value="" placeholder="Title" required="">
                    </div>

                    <div class="select-wrapper">
                        <input type="hidden" data-leadfield="country" name="country" value="">
                        <input type="hidden" data-leadfield="state" name="state_or_province" value="">
                        <input type="hidden" data-leadfield="zip" name="postal_code" value="">

                        <label class="show-for-sr" for="location">Select a location near you</label>
                        <select name="market_id" data-leadfield="location" id="location" class="location" required="">
                            <option value="">Select a location near you</option>
                            <option data-country="United States" data-state="Georgia" data-zip="30308" value="23">Atlanta, GA</option>
                            <option data-country="United States" data-state="Texas" data-zip="78701" value="60">Austin, TX</option>
                            <option data-country="United States" data-state="Maryland" data-zip="21201" value="46">Baltimore, MD</option>
                            <option data-country="United States" data-state="Massachusetts" data-zip="02116" value="10">Boston, MA</option>
                            <option data-country="United States" data-state="North Carolina" data-zip="28203" value="61">Charlotte, NC</option>
                            <option data-country="United States" data-state="Illinois" data-zip="60602" value="14">Chicago, IL</option>
                            <option data-country="United States" data-state="Ohio" data-zip="44101" value="32">Cleveland, OH</option>
                            <option data-country="United States" data-state="Texas" data-zip="75254" value="22">Dallas, TX</option>
                            <option data-country="United States" data-state="Colorado" data-zip="80111" value="27">Denver, CO</option>
                            <option data-country="United States" data-state="Michigan" data-zip="48067" value="24">Detroit, MI</option>
                            <option data-country="United States" data-state="Texas" data-zip="77027" value="826">Houston, TX</option>
                            <option data-country="United States" data-state="Indiana" data-zip="46032" value="58">Indianapolis, IN</option>
                            <option data-country="United States" data-state="California" data-zip="90036" value="13">Los Angeles Metro</option>
                            <option data-country="United States" data-state="Florida" data-zip="33324" value="33">Miami, FL</option>
                            <option data-country="United States" data-state="Wisconsin" data-zip="53202" value="881">Milwaukee, WI</option>
                            <option data-country="United States" data-state="Minnesota" data-zip="55402" value="20">Minneapolis, MN</option>
                            <option data-country="United States" data-state="Tennessee" data-zip="37201" value="63">Nashville, TN</option>
                            <option data-country="United States" data-state="New Jersey" data-zip="07054" value="30">New Jersey</option>
                            <option data-country="United States" data-state="New York" data-zip="10010" value="11">New York Metro</option>
                            <option data-country="United States" data-state="Virginia" data-zip="20191" value="51">Northern Virginia</option>
                            <option data-country="United States" data-state="California" data-zip="92660" value="19">Orange County, CA</option>
                            <option data-country="United States" data-state="Florida" data-zip="32819" value="72">Orlando, FL</option>
                            <option data-country="United States" data-state="Pennsylvania" data-zip="19428" value="18">Philadelphia, PA</option>
                            <option data-country="United States" data-state="Arizona" data-zip="85224" value="31">Phoenix, AZ</option>
                            <option data-country="United States" data-state="Oregon" data-zip="97204" value="41">Portland, OR</option>
                            <option data-country="United States" data-state="Rhode Island" data-zip="02903" value="73">Providence, RI</option>
                            <option data-country="United States" data-state="North Carolina" data-zip="27601" value="803">Raleigh, NC</option>
                            <option data-country="United States" data-state="Virginia" data-zip="23226" value="78">Richmond, VA</option>
                            <option data-country="United States" data-state="California" data-zip="92122" value="16">San Diego, CA</option>
                            <option data-country="United States" data-state="California" data-zip="94108" value="12">San Francisco Metro</option>
                            <option data-country="United States" data-state="Washington" data-zip="98103" value="17">Seattle, WA</option>
                            <option data-country="United States" data-state="California" data-zip="95008" value="15">Silicon Valley, CA</option>
                            <option data-country="United States" data-state="Missouri" data-zip="63141" value="37">St. Louis, MO</option>
                            <option data-country="United States" data-state="Connecticut" data-zip="06905" value="34">Stamford, CT</option>
                            <option data-country="United States" data-state="Florida" data-zip="33607" value="68">Tampa, FL</option>
                            <option data-country="Canada" data-state="Ontario" data-zip="M5S 1M2" value="40">Toronto, CA</option>
                            <option data-country="Canada" data-state="British Columbia" data-zip="" value="47">Vancouver, CA</option>
                            <option data-country="United States" data-state="District of Columbia" data-zip="20036" value="25">Washington, DC</option>
                        </select>
                    </div>

                    <div>
                        <label class="show-for-sr" for="user-comments">Tell us how we can help you</label>
                        <textarea name="user-comments" id="user-comments" class="comments user-comments" placeholder="Tell us how we can help you"></textarea>
                    </div>

                    <div class="submit-section">
                        <button id="submit-contact-form" class="button submit-contact-form submit-contact-form" type="submit">Get in touch</button>
                    </div><!-- .submit-section -->
                </div><!-- #contact-form-fields.contact-form-fields -->
            </form>

            <div class="bottom-text text-center">
                <p class="text-center" style="text-align: center;">
                    <span>Need help immediately?<br> <a href="tel:+16175355000">Call (617) 535-5000</a></span>
                </p>

                <div class="margin-top-1 text-center">
                    <a title="Privacy Policy" href="/privacy-policy/">Privacy Policy</a>
                </div>
            </div><!-- .bottom-text -->
        </div>
    </div>
</section>
  </div><!-- .yield -->

  <script src="../../js/main.js"></script>
</body>
</html>
