

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/preview.css">
    <link media="all" rel="stylesheet" href="../../css/dist/styles.css"> 
    <title>Preview Layout</title>
</head>

<body>
  <div class="yield">
    <div class="section--bg-white">
  <div class="section__inner">
    <h2>Fields Classed in Pattern</h2>

    <form class="form">
      <label 
        class="form__label" 
        for="text-1">
        Full Name
      </label>
      <input 
        type="text" 
        name="text-1" 
        class="form__input-text--single" 
        value="Lauren Ipsum" 
        placeholder="A plain text input"
      />

      <label 
        class="form__label" 
        for="text-2">
        Email
      </label>
      <input 
        type="text" 
        name="text-2" 
        class="form__input-text--single-error-styled error"
        value="invadilEmail.com" 
        placeholder="lauren.ipsum@email.com"
      >
      <span 
        class="form__error-message error">
        This is an error.
      </span>

      <label 
        class="form__label" 
        for="text-3">
        Phone
      </label>
      <input 
        type="text" 
        name="text-3" 
        class="form__input-text--single" 
        value="" 
        placeholder="(___) ___-____"
      >
    </form>
  </div>
</div>

<div class="section--bg-white">
  <div class="section__inner">
    <h2>Fields Without Pattern Classing</h2>

    <form class="form">
      <label  
        for="text-1b">
        Full Name
      </label>
      <input 
        type="text" 
        name="text-1b" 
        value="Lauren Ipsum" 
        placeholder="A plain text input"
      />

      <label 
        for="text-2b">
        Email
      </label>
      <input 
        type="text" 
        name="text-2b" 
        class="error"
        value="invadilEmail.com" 
        placeholder="lauren.ipsum@email.com"
      >
      <span 
        class="form__error-message error">
        This is an error.
      </span>

      <label 
        for="text-3b">
        Phone
      </label>
      <input 
        type="text" 
        name="text-3b" 
        value="" 
        placeholder="(___) ___-____"
      >
    </form>
  </div>
</div>
  </div><!-- .yield -->

  <script src="../../js/main.js"></script>
</body>
</html>
