<div class="section--bg-white">
    <label for="text-1">A plain text input</label>
    <input type="text" name="text-1" class="form__input-text" value="" placeholder="A plain text input">
</div>

<div class="section--bg-sec-blue">
    <label for="text-2">A plain text input</label>
    <input type="text" name="text-2" class="form__input-text" value="" placeholder="A plain text input">
</div>

<div class="section--bg-green">
    <label for="text-3">A plain text input</label>
    <input type="text" name="text-3" class="form__input-text" value="" placeholder="A plain text input">
</div>