<div class="section--bg-white demo-section">

    <form class="form">
      <label class="form__label" for="text-1">Full Name</label>
      <input type="text" name="text-1" class="form__input-text" value="Lauren Ipsum" placeholder="A plain text input">
    </form>

    <form class="form" action="">
      <label class="form__label" for="text-2">Email</label>
      <input type="text" name="text-2" class="form__input-text error" value="invadilEmail.com" placeholder="lauren.ipsum@email.com">
      <label class="form__label__error error" for="text-2">This is an error. </label>
    </form>

    <form class="form" action="">
      <label class="form__label" for="text-3">Phone</label>
      <input type="text" name="text-3" class="form__input-text" value="" placeholder="(___) ___-____">
    </form>

</div>