<div class="section--bg-white">

  <form class="form" action="">

    <label class="form__label required" for="location">Location</label>
    <select name="market_id" data-leadfield="location" id="location" class="form__select location error" required="">
      <option value="">Select a location near you</option>
      <option data-country="United States" data-state="Alabama" data-zip="35160" value="120">Alabama
      </option>
      <option data-country="Netherlands" data-state="" data-zip="1072 XW" value="43">Amsterdam</option>
      <option data-country="United States" data-state="Arkansas" data-zip="71999" value="122">Arkansas
      </option>
      <option data-country="United States" data-state="Georgia" data-zip="30308" value="23">Atlanta</option>
      <option data-country="United States" data-state="Texas" data-zip="78701" value="60">Austin</option>
      <option data-country="United States" data-state="Maryland" data-zip="21201" value="46">Baltimore
      </option>
      <option data-country="United States" data-state="Idaho" data-zip="83713" value="102">Boise</option>
      <option data-country="United States" data-state="Massachusetts" data-zip="02116" value="10">Boston
      </option>
      <option data-country="United States" data-state="North Carolina" data-zip="28203" value="61">Charlotte
      </option>
      <option data-country="United States" data-state="Illinois" data-zip="60602" value="14">Chicago
      </option>
      <option data-country="United States" data-state="Connecticut" data-zip="06905" value="34">Connecticut
      </option>
      <option data-country="United States" data-state="Texas" data-zip="75254" value="22">Dallas</option>
      <option data-country="United States" data-state="Colorado" data-zip="80111" value="27">Denver</option>
      <option data-country="United States" data-state="Michigan" data-zip="48067" value="24">Detroit
      </option>
      <option data-country="Japan" data-state="" data-zip="810-0001" value="92">Fukuoka</option>
      <option data-country="Germany" data-state="" data-zip="" value="115">Germany</option>
      <option data-country="United States" data-state="Texas" data-zip="77027" value="826">Houston</option>
      <option data-country="United States" data-state="Indiana" data-zip="46032" value="58">Indianapolis
      </option>
      <option data-country="United States" data-state="Kentucky" data-zip="40502" value="116">Kentucky
      </option>
      <option data-country="United Kingdom" data-state="" data-zip="SW1Y 4EN" value="29">London</option>
      <option data-country="United States" data-state="California" data-zip="90036" value="13">Los Angeles
      </option>
      <option data-country="United States" data-state="Louisiana" data-zip="70803" value="117">Louisiana
      </option>
      <option data-country="Australia" data-state="" data-zip="3001" value="36">Melbourne</option>
      <option data-country="United States" data-state="Florida" data-zip="33324" value="33">Miami</option>
      <option data-country="United States" data-state="Minnesota" data-zip="55402" value="20">Minneapolis
      </option>
      <option data-country="United States" data-state="Mississippi" data-zip="39533" value="118">Mississippi
      </option>
      <option data-country="United States" data-state="Alabama" data-zip="61244" value="807">Moline</option>
      <option data-country="Japan" data-state="" data-zip="460-0008" value="79">Nagoya</option>
      <option data-country="United States" data-state="New Jersey" data-zip="07054" value="30">New Jersey
      </option>
      <option data-country="United States" data-state="New York" data-zip="10010" value="11">New York City
      </option>
      <option data-country="United States" data-state="Virginia" data-zip="20191" value="51">Northern
        Virginia</option>
      <option data-country="United States" data-state="Ohio" data-zip="44101" value="32">Ohio</option>
      <option data-country="United States" data-state="Oklahoma" data-zip="73105" value="119">Oklahoma
      </option>
      <option data-country="United States" data-state="California" data-zip="92660" value="19">Orange County
      </option>
      <option data-country="United States" data-state="Florida" data-zip="32819" value="72">Orlando</option>
      <option data-country="Japan" data-state="" data-zip="542-0081" value="64">Osaka</option>
      <option data-country="France" data-state="" data-zip="75016" value="35">Paris</option>
      <option data-country="United States" data-state="Florida" data-zip="32504" value="121">Pensacola, FL
      </option>
      <option data-country="United States" data-state="Pennsylvania" data-zip="19428" value="18">
        Philadelphia</option>
      <option data-country="United States" data-state="Arizona" data-zip="85224" value="31">Phoenix</option>
      <option data-country="United States" data-state="Oregon" data-zip="97204" value="41">Portland, OR
      </option>
      <option data-country="United States" data-state="Rhode Island" data-zip="02903" value="73">Providence
      </option>
      <option data-country="United States" data-state="North Carolina" data-zip="27601" value="803">
        Raleigh/Durham</option>
      <option data-country="United States" data-state="Virginia" data-zip="23226" value="78">Richmond
      </option>
      <option data-country="United States" data-state="California" data-zip="92122" value="16">San Diego
      </option>
      <option data-country="United States" data-state="California" data-zip="94108" value="12">San Francisco
      </option>
      <option data-country="United States" data-state="Washington" data-zip="98103" value="17">Seattle
      </option>
      <option data-country="United States" data-state="California" data-zip="95008" value="15">Silicon
        Valley</option>
      <option data-country="United States" data-state="Missouri" data-zip="63141" value="37">St. Louis
      </option>
      <option data-country="Australia" data-state="" data-zip="2000" value="39">Sydney</option>
      <option data-country="United States" data-state="Florida" data-zip="33607" value="68">Tampa</option>
      <option data-country="United States" data-state="Tennessee" data-zip="37201" value="63">Tennessee
      </option>
      <option data-country="Japan" data-state="" data-zip="107-0062" value="44">Tokyo</option>
      <option data-country="Canada" data-state="Ontario" data-zip="M5S 1M2" value="40">Toronto</option>
      <option data-country="Canada" data-state="British Columbia" data-zip="" value="47">Vancouver</option>
      <option data-country="United States" data-state="District of Columbia" data-zip="20036" value="25">
        Washington, DC</option>
      <option data-country="United States" data-state="Wisconsin" data-zip="53202" value="881">Wisconsin
      </option>
    </select>
    <label id="location-error error" class="form__label__error error" for="location">This is an error. Please fix it.
    </label>

    <label class="form__label required" for="location">Location</label>
    <select name="market_id" data-leadfield="location" id="location" class="form__select location error" required="">
      <option value="">Select a location near you</option>
      <option data-country="United States" data-state="Alabama" data-zip="35160" value="120">Alabama
      </option>
      <option data-country="Netherlands" data-state="" data-zip="1072 XW" value="43">Amsterdam</option>
      <option data-country="United States" data-state="Arkansas" data-zip="71999" value="122">Arkansas
      </option>
      <option data-country="United States" data-state="Georgia" data-zip="30308" value="23">Atlanta</option>
      <option data-country="United States" data-state="Texas" data-zip="78701" value="60">Austin</option>
      <option data-country="United States" data-state="Maryland" data-zip="21201" value="46">Baltimore
      </option>
      <option data-country="United States" data-state="Idaho" data-zip="83713" value="102">Boise</option>
      <option data-country="United States" data-state="Massachusetts" data-zip="02116" value="10">Boston
      </option>
      <option data-country="United States" data-state="North Carolina" data-zip="28203" value="61">Charlotte
      </option>
      <option data-country="United States" data-state="Illinois" data-zip="60602" value="14">Chicago
      </option>
      <option data-country="United States" data-state="Connecticut" data-zip="06905" value="34">Connecticut
      </option>
      <option data-country="United States" data-state="Texas" data-zip="75254" value="22">Dallas</option>
      <option data-country="United States" data-state="Colorado" data-zip="80111" value="27">Denver</option>
      <option data-country="United States" data-state="Michigan" data-zip="48067" value="24">Detroit
      </option>
      <option data-country="Japan" data-state="" data-zip="810-0001" value="92">Fukuoka</option>
      <option data-country="Germany" data-state="" data-zip="" value="115">Germany</option>
      <option data-country="United States" data-state="Texas" data-zip="77027" value="826">Houston</option>
      <option data-country="United States" data-state="Indiana" data-zip="46032" value="58">Indianapolis
      </option>
      <option data-country="United States" data-state="Kentucky" data-zip="40502" value="116">Kentucky
      </option>
      <option data-country="United Kingdom" data-state="" data-zip="SW1Y 4EN" value="29">London</option>
      <option data-country="United States" data-state="California" data-zip="90036" value="13">Los Angeles
      </option>
      <option data-country="United States" data-state="Louisiana" data-zip="70803" value="117">Louisiana
      </option>
      <option data-country="Australia" data-state="" data-zip="3001" value="36">Melbourne</option>
      <option data-country="United States" data-state="Florida" data-zip="33324" value="33">Miami</option>
      <option data-country="United States" data-state="Minnesota" data-zip="55402" value="20">Minneapolis
      </option>
      <option data-country="United States" data-state="Mississippi" data-zip="39533" value="118">Mississippi
      </option>
      <option data-country="United States" data-state="Alabama" data-zip="61244" value="807">Moline</option>
      <option data-country="Japan" data-state="" data-zip="460-0008" value="79">Nagoya</option>
      <option data-country="United States" data-state="New Jersey" data-zip="07054" value="30">New Jersey
      </option>
      <option data-country="United States" data-state="New York" data-zip="10010" value="11">New York City
      </option>
      <option data-country="United States" data-state="Virginia" data-zip="20191" value="51">Northern
        Virginia</option>
      <option data-country="United States" data-state="Ohio" data-zip="44101" value="32">Ohio</option>
      <option data-country="United States" data-state="Oklahoma" data-zip="73105" value="119">Oklahoma
      </option>
      <option data-country="United States" data-state="California" data-zip="92660" value="19">Orange County
      </option>
      <option data-country="United States" data-state="Florida" data-zip="32819" value="72">Orlando</option>
      <option data-country="Japan" data-state="" data-zip="542-0081" value="64">Osaka</option>
      <option data-country="France" data-state="" data-zip="75016" value="35">Paris</option>
      <option data-country="United States" data-state="Florida" data-zip="32504" value="121">Pensacola, FL
      </option>
      <option data-country="United States" data-state="Pennsylvania" data-zip="19428" value="18">
        Philadelphia</option>
      <option data-country="United States" data-state="Arizona" data-zip="85224" value="31">Phoenix</option>
      <option data-country="United States" data-state="Oregon" data-zip="97204" value="41">Portland, OR
      </option>
      <option data-country="United States" data-state="Rhode Island" data-zip="02903" value="73">Providence
      </option>
      <option data-country="United States" data-state="North Carolina" data-zip="27601" value="803">
        Raleigh/Durham</option>
      <option data-country="United States" data-state="Virginia" data-zip="23226" value="78">Richmond
      </option>
      <option data-country="United States" data-state="California" data-zip="92122" value="16">San Diego
      </option>
      <option data-country="United States" data-state="California" data-zip="94108" value="12">San Francisco
      </option>
      <option data-country="United States" data-state="Washington" data-zip="98103" value="17">Seattle
      </option>
      <option data-country="United States" data-state="California" data-zip="95008" value="15">Silicon
        Valley</option>
      <option data-country="United States" data-state="Missouri" data-zip="63141" value="37">St. Louis
      </option>
      <option data-country="Australia" data-state="" data-zip="2000" value="39">Sydney</option>
      <option data-country="United States" data-state="Florida" data-zip="33607" value="68">Tampa</option>
      <option data-country="United States" data-state="Tennessee" data-zip="37201" value="63">Tennessee
      </option>
      <option data-country="Japan" data-state="" data-zip="107-0062" value="44">Tokyo</option>
      <option data-country="Canada" data-state="Ontario" data-zip="M5S 1M2" value="40">Toronto</option>
      <option data-country="Canada" data-state="British Columbia" data-zip="" value="47">Vancouver</option>
      <option data-country="United States" data-state="District of Columbia" data-zip="20036" value="25">
        Washington, DC</option>
      <option data-country="United States" data-state="Wisconsin" data-zip="53202" value="881">Wisconsin
      </option>
    </select>

  </form>
</div>