<div class="section--bg-white demo-section">
  <form 
  class="form"
  >
    <label 
      class="form__label"
      for="text-1">
      A plain text input
    </label>
    <textarea 
      class="form__input__text-multi"
      name="text-1" 
      placeholder="A plain text input"
      ></textarea>

    <label 
      class="form__label" 
      for="text-1a">
      A plain text input
    </label>
    <textarea 
      class="form__input__text-multi--error-style error" 
      name="text-1a" 
      placeholder="A plain text input with error"
      required>There has been a terrible error.</textarea>
    <span 
      class="form__input--error-message error">
      This field is required
    </span>

    <label 
      class="form__label" 
      for="text-1b">
      A plain text input
    </label>
    <textarea 
      class="form__input__text-multi" 
      name="text-1b"
      required="">Content has been entered.
    </textarea>
    <!-- .form__input-text[val]:not([class*=error]) -->
  </form>
</div>

{{!-- <div class="section--bg-sec-blue">
  <label for="text-2">A plain text input</label>
  <input type="text" name="text-2" class="form__input-text" value="" placeholder="A plain text input">

  <input type="text" name="text-2a" class="form__input-text--error" value="" placeholder="A plain text input with error"
    required>
  <span class="form--error">This field is required</span>

  <input type="text" name="text-2b" class="form__input-text" value="Content has been entered">
</div>

<div class="section--bg-green">
  <label for="text-3">A plain text input</label>
  <input type="text" name="text-3" class="form__input-text" value="" placeholder="A plain text input">

  <input type="text" name="text-3a" class="form__input-text--error" value="" placeholder="A plain text input with error"
    required>
  <span class="form--error">This field is required</span>

  <input type="text" name="text-3b" class="form__input-text" value="Content has been entered">
</div> --}}